---
import clsx from 'clsx';

import { navLinks } from '../../../site.json';

const pathname = new URL(Astro.request.url).pathname;
---

<nav class="hidden md:block">
	<ul
		class={clsx(
			'flex px-3 text-sm font-medium rounded-full shadow-lg bg-white/90 text-zinc-800',
			'shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90',
			'dark:text-zinc-200 dark:ring-white/10'
		)}
	>
		{
			navLinks.map((link) => (
				<li>
					<a
						href={link.href}
						class={clsx(
							'relative block px-2 md:px-3 py-2 transition text-zinc-800 dark:text-zinc-100',
							{
								'text-teal-500 dark:text-teal-400': pathname.includes(link.href),
								'hover:text-teal-500 dark:hover:text-teal-400': !pathname.includes(link.href),
							}
						)}
					>
						<span>{link.label}</span>
					</a>
				</li>
			))
		}
	</ul>
</nav>
