---
import {
	GitHubLogoIcon,
	EnvelopeOpenIcon,
	LinkedInLogoIcon,
	TwitterLogoIcon,
	CodeSandboxLogoIcon,
} from '@radix-ui/react-icons';

import { socialLinks } from '../../../site.json';
---

<div class="hidden md:fixed left-[2rem] bottom-0 fixed-icons">
	<ul class="inline-flex flex-col gap-3 transition-transform duration-200 ease-in-out">
		<li class="hover:text-brand transform scale-105">
			<a
				href={socialLinks.find((link) => link.name === 'github')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<GitHubLogoIcon width={24} height={24} />
			</a>
		</li>
		<li class="hover:text-brand transform scale-105">
			<a
				href={socialLinks.find((link) => link.name === 'twitter')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<TwitterLogoIcon width={24} height={24} />
			</a>
		</li>
		<li class="hover:text-brand transform scale-105">
			<a
				href={socialLinks.find((link) => link.name === 'linkedin')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<LinkedInLogoIcon width={24} height={24} />
			</a>
		</li>
		<li class="hover:text-brand transform scale-105">
			<a
				href={socialLinks.find((link) => link.name === 'email')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<EnvelopeOpenIcon width={24} height={24} />
			</a>
		</li>
		<li class="hover:text-brand transform scale-105">
			<a
				href={socialLinks.find((link) => link.name === 'codepen')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<CodeSandboxLogoIcon width={24} height={24} />
			</a>
		</li>
	</ul>
</div>
