---
import {
	GitHubLogoIcon,
	EnvelopeOpenIcon,
	LinkedInLogoIcon,
	TwitterLogoIcon,
	CodeSandboxLogoIcon,
} from '@radix-ui/react-icons';

import { socialLinks } from '../../../site.json';
---

<style lang="scss">
	@use 'src/styles/utils';

	.container {
		@include utils.position(fixed, null, null, 0, 2rem);

		@include utils.breakpoint-down('lg') {
			display: none;
		}

		ul {
			display: inline-flex;
			flex-direction: column;
			list-style: none;
			padding-inline-start: 0;
			font-size: var(--font-size-00);
			transition: transform 2s var(--ease-in-out-1);

			li {
				display: inline-block;
				padding-left: 0;

				&:hover {
					color: var(--brand);
					transform: scale(1.1);
				}

				a {
					color: inherit;
				}
			}
		}

		&::after {
			content: '';
			display: block;
			height: 80px;
			width: 1px;
			background-color: var(--surface4);
			margin-inline: auto;
		}

		// background-color: yellowgreen;
	}
</style>

<div class="container">
	<ul>
		<li>
			<a
				href={socialLinks.find((link) => link.name === 'github')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<GitHubLogoIcon width={24} height={24} />
			</a>
		</li>
		<li>
			<a
				href={socialLinks.find((link) => link.name === 'twitter')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<TwitterLogoIcon width={24} height={24} />
			</a>
		</li>
		<li>
			<a
				href={socialLinks.find((link) => link.name === 'linkedin')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<LinkedInLogoIcon width={24} height={24} />
			</a>
		</li>
		<li>
			<a
				href={socialLinks.find((link) => link.name === 'email')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<EnvelopeOpenIcon width={24} height={24} />
			</a>
		</li>
		<li>
			<a
				href={socialLinks.find((link) => link.name === 'codepen')?.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<CodeSandboxLogoIcon width={24} height={24} />
			</a>
		</li>
	</ul>
</div>
