---
import clsx from 'clsx';

import LogoIcon from '~/shared/icons/LogoIcon.svelte';
import DesktopNavigation from './DesktopNavigation.astro';
import MobileNavigation from './MobileNavigation.astro';
import ThemeSwitcher from '~/shared/components/svelte/ThemeSwitcher.svelte';
---

<header class="sticky top-0 z-50 mb-20">
	<div class="container mx-auto w-full max-w-screen-xl h-20 pt-6 px-4 sm:px-8 lg:px-20">
		<div class="relative flex items-center justify-between gap-4 sm:px-8 lg:px-12">
			<div class="flex-1 transition-colors duration-200">
				<a
					href="/"
					class={clsx(
						'inline-block w-20 md:w-24 text-zinc-800 hover:text-teal-500',
						'dark:text-white dark:hover:text-teal-500'
					)}
				>
					<LogoIcon />
				</a>
			</div>
			<div class="flex justify-end flex-1 md:justify-center">
				<DesktopNavigation />
				<MobileNavigation />
			</div>
			<div class="flex justify-end md:flex-1">
				<ThemeSwitcher client:load />
			</div>
		</div>
	</div>
</header>
