---
import clsx from 'clsx';

import DesktopNavigation from './DesktopNavigation.astro';
import { MobileNavigation } from './jsx';
import { ThemeSwitcher } from '~/shared/components/jsx';
import { LogoIcon } from '~/shared/icons/LogoIcon';

const pathname = new URL(Astro.request.url).pathname;
---

<header class="sticky top-0 inset-x-0 z-50 mb-20 backdrop-blur-md">
	<div class="container mx-auto w-full max-w-screen-xl h-20 pt-6 px-4 sm:px-8 lg:px-20">
		<div class="relative flex items-center justify-between gap-4 sm:px-8 lg:px-12 py-3">
			<div class="flex-1 transition-colors duration-200">
				<a
					href="/"
					class={clsx(
						'inline-block w-20 md:w-24 text-zinc-800 hover:text-teal-500',
						'dark:text-white dark:hover:text-teal-500'
					)}
				>
					<LogoIcon />
				</a>
			</div>
			<div class="flex justify-end flex-1 md:justify-center">
				<DesktopNavigation />
				<MobileNavigation client:load pathname={pathname} />
			</div>
			<div class="flex justify-end md:flex-1">
				<ThemeSwitcher client:only />
			</div>
		</div>
	</div>
</header>
