---
import clsx from 'clsx';

import { LogoIcon } from './jsx';
import ThemeToggle from './ThemeToggle.astro';

import site from '../../../site.json';

const pathname = new URL(Astro.request.url).pathname;

const { navLinks } = site;
---

<style lang="scss">
	.header {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		height: var(--size-9);
		width: 100%;
		backdrop-filter: blur(10px);
		z-index: 100;

		background-color: var(--surface1);

		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: var(--size-1) 0;
			width: min(100% - 2rem, 64rem);
			margin-inline: auto;
		}

		&__logo {
			width: 5rem;
			color: var(--text1);
		}

		&__nav {
			display: flex;
			align-items: center;
			gap: var(--size-8);

			& nav {
				display: flex;
				align-items: center;
				gap: var(--size-4);

				@media (max-width: 768px) {
					display: none;
				}
			}

			& li {
				font-size: var(--font-size-1);
				padding: var(--size-1) var(--size-2);
			}
		}
	}

	.link {
		position: relative;
		display: inline-block;

		& > a {
			text-decoration: none;
			color: var(--text1);
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: var(--brand);
			transform: scaleX(0);
			transition: transform 0.3s ease;
		}

		&::before {
			top: -2px;
			transform-origin: left;
		}

		&::after {
			bottom: -2px;
			transform-origin: right;
		}

		&:hover::before,
		&:hover::after {
			transform: scaleX(1);
		}
	}

	.link-active {
		color: var(--brand);
		font-weight: 600;
	}
</style>

<header class="header">
	<div class="header__container">
		<div class="header__logo">
			<a href="/" class="logo">
				<LogoIcon />
			</a>
		</div>
		<div class="header__nav">
			<nav>
				{
					navLinks.map((link) => {
						return (
							<a
								href={link.href}
								class={clsx({
									link: link.href !== pathname,
									'link-active': link.href === pathname,
								})}
							>
								{link.label}
							</a>
						);
					})
				}
			</nav>
			<ThemeToggle />
		</div>
	</div>
</header>
