---
import clsx from 'clsx';

import LogoIcon from '~/shared/icons/LogoIcon.astro';
import ThemeSwitcher from '~/shared/components/svelte/ThemeSwitcher.svelte';

import site from '../../../site.json';

const pathname = new URL(Astro.request.url).pathname;

const { navLinks } = site;
---

<header class="sticky top-0 z-30 h-20 text-font-one backdrop-blur-md">
	<div class="flex items-center justify-between h-full px-4 w-full mx-auto max-w-screen-xl">
		<div class="w-24 hover:text-brand-accent">
			<a href="/">
				<LogoIcon />
			</a>
		</div>
		<div class="flex items-center gap-6">
			<nav class="hidden md:flex gap-6">
				{
					navLinks.map((link) => {
						return (
							<span>
								<span class="text-brand-accent">{link.number}</span>
								<a
									href={link.href}
									class={clsx('relative py-1', {
										'text-brand-accent font-semibold':
											pathname === link.href || pathname.includes(link.href),
										'link-double-lines': pathname !== link.href,
									})}
								>
									{link.label}
								</a>
							</span>
						);
					})
				}
			</nav>
			<ThemeSwitcher client:load />
		</div>
	</div>
</header>
