---
import clsx from 'clsx';

import { LogoIcon } from './jsx';
import { Settings } from '~/shared/components/jsx';

import site from '../../../site.json';

const pathname = new URL(Astro.request.url).pathname;

const { navLinks } = site;
---

<header class="sticky text-font-one h-20 top-0 backdrop-blur-md z-30">
	<div class="container flex items-center justify-between h-full px-4">
		<div class="w-24 hover:text-brand">
			<a href="/">
				<LogoIcon />
			</a>
		</div>
		<div class="flex items-center gap-6">
			<nav class="hidden md:flex gap-6">
				{
					navLinks.map((link) => {
						return (
							<span>
								<span class="text-brand-accent">{link.number}</span>
								<a
									href={link.href}
									class={clsx('relative py-1', {
										'text-brand font-semibold':
											pathname === link.href || pathname.includes(link.href),
										'link-double-lines': pathname !== link.href,
									})}
								>
									{link.label}
								</a>
							</span>
						);
					})
				}
			</nav>
			<Settings client:load />
		</div>
	</div>
</header>
