---
import clsx from 'clsx';

import { ThemeToggleButton } from '~/shared/components/jsx/ThemeToggleButton';
import { LogoIcon } from './jsx';

import site from '../../../site.json';

const pathname = new URL(Astro.request.url).pathname;

const { navLinks } = site;
---

<header class="fixed top-0 left-0 right-0 z-10 backdrop-blur-sm dark:bg-[#1F2028]/30">
	<div class="container mx-auto max-w-screen-lg px-4 lg:px-0 py-4">
		<div class="flex items-center justify-between">
			<div>
				<a href="/">
					<div class="relative h-8 w-20">
						<div class="absolute inset-0 text-neutral-700 dark:text-neutral-200">
							<LogoIcon />
						</div>
					</div>
				</a>
			</div>
			<div class="flex items-center space-x-3">
				<nav class="space-x-3 hidden md:flex">
					{
						navLinks.map((link) => (
							<a
								href={link.href}
								class={clsx(
									{
										'font-bold bg-neutral-300 dark:bg-neutral-500 dark:text-typography':
											pathname === link.href || pathname.startsWith(link.href),
										'nav-link': !pathname.startsWith(link.href),
									},
									'px-4 py-1 rounded-md'
								)}
							>
								{link.label}
							</a>
						))
					}
				</nav>
				<ThemeToggleButton client:visible />
			</div>
		</div>
	</div>
</header>
