---
---

<style lang="scss">
	.theme-toggle {
		--size: var(--size-7);

		@media (hover: none) {
			--size: var(--size-8);
		}

		background: none;
		border: none;
		padding: 0;

		inline-size: var(--size);
		block-size: var(--size);
		aspect-ratio: 1;
		border-radius: 50%;

		cursor: pointer;
		touch-action: manipulation;
		-webkit-tap-highlight-color: transparent;
		outline-offset: 5px;

		& > svg {
			inline-size: 100%;
			block-size: 100%;
			stroke-linecap: round;
		}
	}

	.sun-and-moon {
		& > :is(.moon, .sun, .sun-beams) {
			transform-origin: center center;
		}

		& > :is(.moon, .sun) {
			fill: var(--text1);

			&:is(:hover, :focus-visible) {
				fill: var(--text2);
			}
		}

		& > .sun-beams {
			stroke: var(--text1);
			stroke-width: 1px;

			&:is(:hover, :focus-visible) {
				stroke: var(--text2);
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			& > .sun {
				transition: transform 0.5s var(--ease-elastic-3);
			}

			& > .sun-beams {
				transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
			}

			& .moon > circle {
				transition: transform 0.25s var(--ease-out-5);

				@supports (cx: 1) {
					transition: cx 0.25s var(--ease-out-5);
				}
			}
		}
	}
</style>

<div title="Toggle theme" data-tooltip-placement="top">
	<button id="theme-toggle" class="theme-toggle" aria-label="auto" aria-live="polite">
		<svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
			<circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor"></circle>
			<g class="sun-beams" stroke="currentColor">
				<line x1="12" y1="1" x2="12" y2="3"></line>
				<line x1="12" y1="21" x2="12" y2="23"></line>
				<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
				<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
				<line x1="1" y1="12" x2="3" y2="12"></line>
				<line x1="21" y1="12" x2="23" y2="12"></line>
				<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
				<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
			</g>
			<mask class="moon" id="moon-mask">
				<rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
				<circle cx="24" cy="10" r="6" fill="black"></circle>
			</mask>
		</svg>
	</button>
</div>

<script is:inline>
	const storageKey = 'theme-preference';

	const getColorPreference = () => {
		if (localStorage.getItem(storageKey)) {
			return localStorage.getItem(storageKey);
		} else {
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
		}
	};

	const setColorPreference = () => {
		localStorage.setItem(storageKey, theme.value);
		reflectPreference();
	};

	const reflectPreference = () => {
		document.firstElementChild.setAttribute('data-theme', theme.value);

		document.querySelector('#theme-toggle').setAttribute('aria-label', theme.value);
	};

	const onClick = () => {
		theme.value = theme.value === 'light' ? 'dark' : 'light';
		setColorPreference();
	};

	const theme = {
		value: getColorPreference(),
	};

	reflectPreference();

	window.onload = () => {
		reflectPreference();

		document.querySelector('#theme-toggle').addEventListener('click', onClick);
	};
</script>
