// html {
// 	/* Night -> Default theme */
// 	--brand-night: hsl(173 100% 66%);
// 	--brand-dimmed-night: hsl(173 100% 66% / 0.7);
// 	--brand-contrast-night: hsl(173 100% 66% / 0.2);
// 	--brand-accent-night: hsl(60, 92%, 71%);
// 	--text1-night: hsl(0 0% 98%);
// 	--text2-night: hsl(0 0% 80%);
// 	--text3-night: hsl(0 0% 60%);
// 	--selection-text-night: hsl(200 7% 11%);
// 	--surface1-night: hsl(200 7% 11%);
// 	--surface2-night: hsl(200 7% 15%);
// 	--surface3-night: hsl(200 7% 20%);
// 	--surface4-night: hsl(200 7% 25%);
// 	--surface-shadow-night: hsl(200 7% 11% / 0.7);
// 	--surface-strength-night: 2%;
// 	--background-gradient-night: linear-gradient(
// 		270deg,
// 		hsl(195deg 7% 11%) 0%,
// 		hsl(191deg 30% 11%) 49%,
// 		hsl(184deg 53% 10%) 57%,
// 		hsl(178deg 75% 9%) 63%,
// 		hsl(173deg 100% 9%) 100%
// 	);
// 	--text-gradient-night: linear-gradient(to top right, hsl(173 100% 66%), hsl(60 92% 71%));

// 	/* Light */
// 	--brand-light: hsl(220, 100%, 50%);
// 	--brand-dimmed-light: hsl(220 100% 50% / 0.7);
// 	--brand-contrast-light: hsl(220 100% 50% / 0.2);
// 	--brand-accent-light: hsl(332, 100%, 61%);
// 	--text1-light: hsl(220 10% 10%);
// 	--text2-light: hsl(220 10% 30%);
// 	--text3-light: hsl(220 10% 50%);
// 	--selection-text-light: hsl(220 10% 90%);
// 	--surface1-light: hsl(0 0% 98%);
// 	--surface2-light: hsl(0 0% 95%);
// 	--surface3-light: hsl(0 0% 90%);
// 	--surface4-light: hsl(0 0% 85%);
// 	--surface-shadow-light: hsl(200 7% 11% / 0.7);
// 	--surface-strength-light: 2%;
// 	--background-gradient-light: linear-gradient(
// 		270deg,
// 		hsl(195deg 7% 11%) 0%,
// 		hsl(191deg 30% 11%) 49%,
// 		hsl(184deg 53% 10%) 57%,
// 		hsl(178deg 75% 9%) 63%,
// 		hsl(173deg 100% 9%) 100%
// 	);
// 	--text-gradient-light: linear-gradient(to top right, hsl(220, 100%, 50%), hsl(332, 100%, 61%));

// 	/* Night Owl */
// 	--brand-night-owl: hsl(207 100% 94%);
// 	--brand-dimmed-night-owl: hsl(207 100% 94% / 0.7);
// 	--brand-contrast-night-owl: hsl(207 100% 94% / 0.2);
// 	--brand-accent-night-owl: hsl(6, 100%, 86%);
// 	--text1-night-owl: hsl(210 40% 80%);
// 	--text2-night-owl: hsl(210 40% 60%);
// 	--text3-night-owl: hsl(210 40% 40%);
// 	--selection-text-night-owl: hsl(210 40% 20%);
// 	--surface1-night-owl: hsl(210 47% 12%);
// 	--surface2-night-owl: hsl(210 47% 15%);
// 	--surface3-night-owl: hsl(210 47% 20%);
// 	--surface4-night-owl: hsl(210 47% 25%);
// 	--surface-shadow-night-owl: hsl(200 7% 11% / 0.7);
// 	--surface-strength-night-owl: 2%;
// 	--background-gradient-night-owl: linear-gradient(
// 		270deg,
// 		hsl(210 47% 12%) 0%,
// 		hsl(210 47% 15%) 49%,
// 		hsl(210 47% 20%) 57%,
// 		hsl(210 47% 25%) 63%,
// 		hsl(210 47% 30%) 100%
// 	);
// 	--text-gradient-night-owl: linear-gradient(to top right, hsl(207 100% 94%), hsl(6 100% 86%));

// 	/* Purple */
// 	--brand-purple: hsl(260 91% 54%);
// 	--brand-dimmed-purple: hsl(260 91% 54% / 0.7);
// 	--brand-contrast-purple: hsl(260 91% 54% / 0.2);
// 	--brand-accent-purple: hsl(41, 100%, 59%);
// 	--text1-purple: hsl(260, 45%, 86%);
// 	--text2-purple: hsl(260, 45%, 66%);
// 	--text3-purple: hsl(260, 45%, 46%);
// 	--selection-text-purple: hsl(260, 45%, 26%);
// 	--surface1-purple: hsl(260, 45%, 16%);
// 	--surface2-purple: hsl(260, 45%, 19%);
// 	--surface3-purple: hsl(260, 45%, 24%);
// 	--surface4-purple: hsl(260, 45%, 29%);
// 	--surface-shadow-purple: hsl(200 7% 11% / 0.7);
// 	--surface-strength-purple: 2%;
// 	--background-gradient-purple: linear-gradient(
// 		270deg,
// 		hsl(260, 45%, 16%) 0%,
// 		hsl(260, 45%, 19%) 49%,
// 		hsl(260, 45%, 24%) 57%,
// 		hsl(260, 45%, 29%) 63%,
// 		hsl(260, 45%, 34%) 100%
// 	);
// 	--text-gradient-purple: linear-gradient(to top right, hsl(260 91% 54%), hsl(41 100% 59%));
// }

// [data-theme='night'] {
// 	--brand: var(--brand-night);
// 	--brand-dimmed: var(--brand-dimmed-night);
// 	--brand-contrast: var(--brand-contrast-night);
// 	--brand-accent: var(--brand-accent-night);
// 	--text1: var(--text1-night);
// 	--text2: var(--text2-night);
// 	--text3: var(--text3-night);
// 	--selection-text: var(--selection-text-night);
// 	--surface1: var(--surface1-night);
// 	--surface2: var(--surface2-night);
// 	--surface3: var(--surface3-night);
// 	--surface4: var(--surface4-night);
// 	--surface-shadow: var(--surface-shadow-night);
// 	--surface-strength: var(--surface-strength-night);
// 	--background-gradient: var(--background-gradient-night);
// 	--text-gradient: var(--text-gradient-night);
// }

// [data-theme='light'] {
// 	--brand: var(--brand-light);
// 	--brand-dimmed: var(--brand-dimmed-light);
// 	--brand-contrast: var(--brand-contrast-light);
// 	--brand-accent: var(--brand-accent-light);
// 	--text1: var(--text1-light);
// 	--text2: var(--text2-light);
// 	--text3: var(--text3-light);
// 	--selection-text: var(--selection-text-light);
// 	--surface1: var(--surface1-light);
// 	--surface2: var(--surface2-light);
// 	--surface3: var(--surface3-light);
// 	--surface4: var(--surface4-light);
// 	--surface-shadow: var(--surface-shadow-light);
// 	--surface-strength: var(--surface-strength-light);
// 	--background-gradient: var(--background-gradient-light);
// 	--text-gradient: var(--text-gradient-light);
// }

// [data-theme='night-owl'] {
// 	--brand: var(--brand-night-owl);
// 	--brand-dimmed: var(--brand-dimmed-night-owl);
// 	--brand-contrast: var(--brand-contrast-night-owl);
// 	--brand-accent: var(--brand-accent-night-owl);
// 	--text1: var(--text1-night-owl);
// 	--text2: var(--text2-night-owl);
// 	--text3: var(--text3-night-owl);
// 	--selection-text: var(--selection-text-night-owl);
// 	--surface1: var(--surface1-night-owl);
// 	--surface2: var(--surface2-night-owl);
// 	--surface3: var(--surface3-night-owl);
// 	--surface4: var(--surface4-night-owl);
// 	--surface-shadow: var(--surface-shadow-night-owl);
// 	--surface-strength: var(--surface-strength-night-owl);
// 	--background-gradient: var(--background-gradient-night-owl);
// 	--text-gradient: var(--text-gradient-night-owl);
// }

// [data-theme='purple'] {
// 	--brand: var(--brand-purple);
// 	--brand-dimmed: var(--brand-dimmed-purple);
// 	--brand-contrast: var(--brand-contrast-purple);
// 	--brand-accent: var(--brand-accent-purple);
// 	--text1: var(--text1-purple);
// 	--text2: var(--text2-purple);
// 	--text3: var(--text3-purple);
// 	--selection-text: var(--selection-text-purple);
// 	--surface1: var(--surface1-purple);
// 	--surface2: var(--surface2-purple);
// 	--surface3: var(--surface3-purple);
// 	--surface4: var(--surface4-purple);
// 	--surface-shadow: var(--surface-shadow-purple);
// 	--surface-strength: var(--surface-strength-purple);
// 	--background-gradient: var(--background-gradient-purple);
// 	--text-gradient: var(--text-gradient-purple);
// }
