{
    "tabWidth": 4,
    "arrowParens": "avoid",
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false
}
