---
import { getCollection, CollectionEntry } from 'astro:content'

import BaseLayout from '@/layouts/BaseLayout.astro'
import ViewsCounter from '@/components/ViewsCounter.astro'

interface Props {
    entry: CollectionEntry<'posts'>
}

export async function getStaticPaths() {
    const postEntries = await getCollection('posts')
    return postEntries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry }
    }))
}

const { entry } = Astro.props as Props
const {
    slug,
    data: { title }
} = entry
const { Content } = await entry.render()
---

<BaseLayout>
    <div>dynamic route slug: {slug}</div>
    <div>dynamic route title: {title}</div>
    <ViewsCounter slug={slug} />
</BaseLayout>
