---
import { getCollection } from 'astro:content';

import Layout from '~/layouts/main-layout.astro';

const postsEntries = await getCollection('posts', ({ data }) => {
    return !data.draft && !data.archived;
});
const posts = postsEntries.sort(
    (a, b) => new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime()
);
---

<Layout>
    <h1 class="text-2xl font-bold md:text-3xl">My Blog</h1>

    <p class="prose mb-6 dark:prose-invert">
        Here is a list of all the posts I&apos;ve published. In total I have written{' '}
        <strong>{posts.length}</strong> posts.
    </p>

    <ul class="space-y-3">
        {
            posts.map(post => {
                return (
                    <li>
                        <a
                            href={'/blog/' + post.slug}
                            class="hover:text-neutral-700 dark:hover:text-neutral-300"
                        >
                            <h2
                                class="font-light tracking-tighter"
                                transition:name={`post-${post.slug}`}
                            >
                                {post.data.title}
                            </h2>
                        </a>
                        <p class="flex items-center gap-1 text-sm text-neutral-400">
                            <span
                                hx-get="/partials/views-counter"
                                hx-trigger="load"
                                hx-vals={JSON.stringify({ slug: post.slug })}
                            >
                                <span class="htmx-indicator animate-pulse">--</span>
                            </span>
                            views
                        </p>
                    </li>
                );
            })
        }
    </ul>
</Layout>
