.noPostFoundContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	& > p {
		color: var(--text2);
	}
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--size-6);
  margin: 0 0 var(--size-6) 0;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
