@use 'src/styles/utils';

/* Metrics Card Styles */
.card {
	display: flex;
	flex-direction: column;
	background-color: var(--surface2);
	padding: var(--size-4);
	border-radius: var(--radius-3);
	box-shadow: var(--shadow-3);

	& .header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			padding-inline: 0;
			margin-inline: 0;

			&:hover {
				color: var(--brand);
			}
		}
	}

	.value {
		font-weight: 600;
		margin-top: auto;
		font-size: var(--font-size-7);
	}
}

/* Metrics Styles */
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--size-4);
	margin: 0 0 var(--size-4) 0;

	@include utils.breakpoint-up('md') {
		grid-template-columns: repeat(2, 1fr);
	}

	@include utils.breakpoint-up('lg') {
		grid-template-columns: repeat(3, 1fr);
	}
}

.error {
	color: var(--red-6);
	text-align: center;
	max-inline-size: none;
}
