.nav {
	display: flex;
	justify-content: center;
	margin-top: var(--size-4);

	& > .pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--size-2);
		padding: var(--size-2) 0;
		list-style: none;
		width: 100%;

		& > li {
			padding-inline-start: 0;
		}

		& .number {
			padding: var(--size-2) var(--size-3);
      margin: 0 var(--size-1);
			border-radius: var(--radius-round);
			cursor: pointer;
			transition: all 200ms ease-in-out;
		}

		& .numberActive {
			background-color: var(--accent);
			color: var(--text1);
      cursor: not-allowed;
		}

		& .numberInactive {
			background-color: var(--surface2);
			opacity: 0.9;

      &:hover {
				transform: scale(1.05);
        background-color: var(--brand-dimmed);
			}
		}

		& .arrowActive {
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}

		& .arrowDisabled {
			cursor: not-allowed;
			color: var(--text2);
			opacity: 0.5;
		}
	}
}
