@use 'src/styles/utils';

/* Popover Styles */
.trigger {
	border-radius: var(--radius-round);
	background-color: var(--surface1);
	outline: var(--border-size-2) solid var(--brand);
	padding: var(--size-2);
	transition: all 100ms var(--ease-in-out-2);

	&:hover {
		background-color: var(--surface2);
		outline-width: var(--border-size-2);
	}
}

.preferences[data-state='open'] {
	animation: fadeIn 300ms ease-out;
}

.preferences[data-state='closed'] {
	animation: fadeOut 300ms ease-in;
}

.preferences {
	background-color: var(--surface2);
	border-radius: var(--radius-3);
	padding: var(--size-3) var(--size-4);
	box-shadow: var(--shadow-4);
	width: min(70vw, 250px);

	& > span {
		display: block;
		font-size: var(--font-size-3);
		font-weight: 600;
		margin-bottom: var(--size-3);
	}
}

.preferenceItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--size-3) 0;
	border-bottom: var(--border-size-1) solid var(--surface3);

	&:first-child {
		border-top: var(--border-size-1) solid var(--surface3);
	}
}

.arrow {
	fill: var(--surface3);
	border: 0;
	stroke: none;
}

/* Select Styles */
.selectTrigger {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius-2);
	padding: 0 var(--size-3);
	font-size: var(--font-size-0);
	line-height: 1;
	height: var(--size-7);
	gap: var(--size-2);
	background-color: var(--surface4);
	color: var(--brand);
	box-shadow: var(--shadow-3);
	transition: all 100ms var(--ease-in-out-2);

	&:hover {
		opacity: 0.9;
		box-shadow: var(--shadow-5);
		transform: scale(1.05);
	}

	&:focus {
		box-shadow: var(--shadow-color);
	}
}

.selectTrigger[data-placeholder] {
	color: var(--brand-dimmed);
}

.selectIcon {
	color: Var(var(--brand));
}

.selectContent {
	overflow: hidden;
	background-color: var(--surface4);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-3);
}

.selectViewport {
	padding: var(--size-2);
}

.selectItem {
	font-size: var(--font-size-0);
	line-height: 1;
	color: var(--text2);
	display: flex;
	align-items: center;
	height: var(--size-7);
	padding: 0 var(--size-7) 0 var(--size-6);
	position: relative;
	user-select: none;

	&:not(:last-of-type) {
		border-bottom: var(--border-size-1) solid var(--surface3);
	}

	&[data-disabled] {
		color: var(--pink-1);
		pointer-events: none;
	}

	&[data-highlighted] {
		outline: none;
		background-color: var(--brand-dimmed);
		color: var(--text1);
		border-radius: var(--radius-2);
	}
}

.selectLabel {
	padding: 0 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--pink-9);
}

.selectItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.selectScrollButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	background-color: white;
	color: var(--brand);
	cursor: default;
}
