.content {
	background-color: var(--surface3);
	border-radius: var(--radius-2);
	padding: var(--size-2) var(--size-3);
	box-shadow: var(--shadow-1);
	animation-duration: 4000ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform opacity;
}

.content[data-state='delayed-open'][data-side='top'] {
	animation-name: var(--animation-fade-in) forwards;
}
.content[data-state='delayed-open'][data-side='right'] {
	animation-name: var(--animation-fade-in) forwards;
}
.content[data-state='delayed-open'][data-side='bottom'] {
	animation-name: var(--animation-fade-in) forwards;
}
.content[data-state='delayed-open'][data-side='left'] {
	animation-name: var(--animation-fade-in) forwards;
}

.arrow {
	fill: var(--surface3);
	stroke: none;
}
