---
import clsx from 'clsx';
import { getCollection } from 'astro:content';

import Views from './svelte/Views.svelte';

const blogEntries = await getCollection('blog');
const featuredPosts = blogEntries.filter((post) => post?.data?.isFeatured);
---

<div class="mt-3 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
	{
		featuredPosts?.map((post) => (
			<div
				class={clsx(
					'bg-surface-two p-3 rounded-lg transition-colors',
					'duration-200 ease-in-out shadow-lg border-t-2 border-brand'
				)}
			>
				<a href={`blog/${post?.slug}`}>
					<div class="flex flex-col h-full">
						<h3 class="hover:text-brand">{post?.data?.title}</h3>

						<div class="flex items-center justify-between pt-2 mt-auto">
							<div class="flex items-center gap-2 text-font-two">
								<Views client:load slug={post?.slug} />
							</div>
							<div class="flex items-center gap-2 text-font-two">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="w-4 h-4"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
									/>
								</svg>

								<p>{post?.data?.readingTime} minutes read</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		))
	}
</div>
