---
import { getCollection } from 'astro:content';

import FeaturedPostCard from '~/shared/components/FeaturedPostCard.astro';

const blogEntries = await getCollection('blog');
const featuredPosts = blogEntries
	.filter((entry) => entry?.data?.isFeatured)
	.sort(
		(a, b) => new Date(b.data.publishedDate).getDate() - new Date(a.data.publishedDate).getDate()
	);
---

<section id="featured-posts">
	<div class="flex flex-col gap-16">
		<h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Featured Posts</h2>
		{featuredPosts?.map((post) => <FeaturedPostCard post={post} />)}
	</div>
</section>

<script>
	import { animate, stagger } from 'motion';

	const boxes = document.querySelectorAll('#featured-posts');

	if (boxes)
		animate(boxes, { y: [-20, 0], opacity: [0, 1] }, { duration: 1, delay: stagger(0.25) });
</script>
