---
import type { CollectionEntry } from 'astro:content';
import { ChevronRightIcon } from '@radix-ui/react-icons';
import clsx from 'clsx';
import { format } from 'date-fns';

interface Props {
	post: CollectionEntry<'blog'>;
}

const {
	post: { slug, data },
} = Astro.props as Props;
const formattedDate = format(new Date(data.publishedDate), 'MMMM dd, yyyy');
---

<article id="feat-post" class="group relative flex flex-col items-start">
	<!-- Post Title -->
	<h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
		<div
			class={clsx(
				'absolute z-0 transition scale-95 opacity-0 -inset-y-6 -inset-x-4 bg-zinc-50',
				'group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl'
			)}
		>
		</div>
		<a href={`/blog/${slug}`}>
			<span class="absolute z-20 -inset-y-6 -inset-x-4 sm:-inset-x-6 sm:rounded-2xl"></span>
			<span class="relative z-10">{data?.title}</span>
		</a>
	</h3>

	<!-- Published Date -->
	<p
		class={clsx(
			'relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400',
			'dark:text-zinc-500 pl-3.5'
		)}
	>
		<span class="absolute inset-y-0 left-0 flex items-center">
			<span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
		</span>
		<time>{formattedDate}</time>
	</p>

	<!-- Post Description -->
	<p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
		{data?.summary}
	</p>

	<!-- Read More Link -->
	<div
		aria-hidden="true"
		class="relative z-10 flex items-center mt-4 text-sm font-medium text-teal-500"
	>
		<span class="mr-1">Read article</span>
		<ChevronRightIcon />
	</div>
</article>
