---
interface Props {
	title: string;
	value: string | number;
	link: string;
}

const { title, value, link } = Astro.props as Props;
---

<div class="flex flex-col p-4 rounded-lg shadow-lg bg-zinc-100 dark:bg-zinc-800">
	<div class="flex items-center justify-between">
		<h4>{title}</h4>
		<span>
			<a href={link} class="hover:text-brand">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
					></path>
				</svg>
			</a>
		</span>
	</div>
	<span class="mt-auto text-2xl font-semibold md:text-3xl lg:text-4xl">{value}</span>
</div>
