---
interface Props {
	title: string;
	intro: string;
}

const { title, intro } = Astro.props as Props;
---

<header id="page-header" class="max-w-2xl">
	<h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
		{title}
	</h1>
	<p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">{intro}</p>
</header>
<div class="mt-16 sm:mt-20">
	<!-- ðŸ‘‡ðŸ¼ Content Slot ðŸ‘‡ðŸ¼ -->
	<slot />
</div>

<script>
	import { animate, stagger } from 'motion';

	const header = document.getElementById('page-header');
	// if (header)
	// 	animate(header, { x: [-20, 0], opacity: [0, 1] }, { duration: 1, delay: stagger(0.25) });
</script>
