---
import clsx from 'clsx';

import SocialLink from '~/shared/components/SocialLink.astro';
import GithubIcon from '~/shared/icons/GithubIcon.svelte';
import TwitterIcon from '~/shared/icons/TwitterIcon.svelte';
import EnvelopeIcon from '~/shared/icons/EnvelopeIcon.svelte';
import LinkedinIcon from '~/shared/icons/LinkedinIcon.svelte';

import { socialLinks } from '../../../site.json';

interface Props {
	size?: 'small' | 'medium' | 'large';
	styles?: string;
}

const { size, styles } = Astro.props as Props;
const iconSize = size ?? 'medium';
const iconStyles = {
	small: 'w-4 h-4',
	medium: 'w-6 h-6',
	large: 'w-8 h-8',
};
---

<div class={clsx('mt-4 flex gap-6 text-zinc-700 dark:text-zinc-500', styles)}>
	<ul role="list" class="flex items-center gap-3">
		<SocialLink href={socialLinks.find((link) => link.name === 'github')?.url} tooltip="My GitHub">
			<GithubIcon styles={iconStyles[iconSize]} />
		</SocialLink>
		<SocialLink
			href={socialLinks.find((link) => link.name === 'twitter')?.url}
			tooltip="My Twitter"
		>
			<TwitterIcon styles={iconStyles[iconSize]} />
		</SocialLink>
		<SocialLink
			href={socialLinks.find((link) => link.name === 'linkedin')?.url}
			tooltip="My Linkedin"
		>
			<LinkedinIcon styles={iconStyles[iconSize]} />
		</SocialLink>
		<SocialLink href={socialLinks.find((link) => link.name === 'email')?.url} tooltip="My Email">
			<EnvelopeIcon styles={iconStyles[iconSize]} />
		</SocialLink>
	</ul>
</div>
