// Open Props imports
@import 'open-props/style';

// Optionals
// @import 'open-props/normalize';

// Theme colors
:root {
	--brand: var(--lime-2);

	--text1: var(--gray-8);
	--text2: var(--gray-7);

	--surface1: var(--gray-2);
	--surface2: var(--gray-0);
	--surface3: var(--gray-1);
	--surface4: var(--gray-3);
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--brand: var(--lime-1);

// 		--text1: var(--gray-1);
// 		--text2: var(--gray-3);

// 		--surface1: var(--gray-9);
// 		--surface2: var(--gray-8);
// 		--surface3: var(--gray-7);
// 		--surface4: var(--gray-6);
// 	}
// }

html[data-theme='dark'] {
	--brand: var(--pink-1);

	--text1: var(--gray-1);
	--text2: var(--gray-3);

	--surface1: var(--gray-9);
	--surface2: var(--gray-8);
	--surface3: var(--gray-7);
	--surface4: var(--gray-6);
}

// Globals
*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	font-family: Lato, sans-serif;
	background-color: var(--surface1);
	color: var(--text1);
}

html {
	&[data-theme='dark'] {
		& .sun-and-moon {
			& > .sun {
				transform: scale(1.75);
			}

			& > .sun-beams {
				opacity: 0;
			}

			& > .moon > circle {
				transform: translateX(-7px);

				@supports (cx: 1) {
					transform: translateX(0);
					cx: 17;
				}
			}

			@media (prefers-reduced-motion: no-preference) {
				& > .sun {
					transform: scale(1.75);
					transition: transform 0.25 var(--ease-3);
				}

				& > .sun-beams {
					transform: rotateZ(-25deg);
					transition-duration: 0.15s;
				}

				& > .moon > circle {
					transition-delay: 0.25s;
					transition-duration: 0.5s;
				}
			}
		}
	}
}

// html {
// height: 100%;
// }

// html[data-theme='light'] {
// 	background-color: var(--brand);
// }

// html[data-theme='dark'] {
// 	background-color: var(--brand);
// }

// Styles reset for Open props normalize file
ol,
ul {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}
