p > a {
  color: var(--clr-accent);
  /* text-decoration: underline; */
}

p > a:hover,
p > a:focus {
  text-decoration: none;
  text-underline-offset: 0.2rem;
  opacity: 0.8;
}

/* Heading Links */
.heading-wrapper {
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.3;
}

.heading-wrapper + * {
  margin-top: 0;
}

.heading-wrapper > * {
  display: inline;
  margin-bottom: 0;
}

.heading-wrapper {
  --icon-size-x: 2rem;
  --icon-size-y: 1.5rem;
  margin-inline-end: var(--icon-size-x);
}

.heading-wrapper:not(:first-child) {
  margin-block: 0;
}

.heading-wrapper > * {
  display: inline;
  margin-bottom: 0;
}

.heading-wrapper > .anchor-link {
  position: relative;
  display: inline-flex;
  margin-inline-end: calc(-1 * var(--icon-size-x));
  width: var(--icon-size-x);
  height: var(--icon-size-y);
  color: var(--theme-text-light);
  text-decoration: none;
  justify-content: center;
  vertical-align: baseline;
}

:is(h2):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h2) {
  margin-top: 4rem;
}

/* :is(h3, h4):not(:first-child), */
.heading-wrapper:not(:first-child):is(.level-h3, .level-h4) {
  margin-top: 3rem;
}

:is(h5, h6):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h5, .level-h6) {
  margin-top: 2rem;
}

:is(h1, h2, h3, h4, h5, h6, .heading-wrapper)
  + :is(h1, h2, h3, h4, h5, h6, .heading-wrapper):not(:first-child) {
  margin-top: 0;
}

:is(h1, h2, h3, h4, h5) code {
  --border-radius: 4px;
  --padding-block: 0.1rem;
  --padding-inline: 0.4rem;
  font-weight: 400;
}

.heading-wrapper > .anchor-link {
  position: relative;
  display: inline-flex;
  margin-inline-end: calc(-1 * var(--icon-size-x));
  width: var(--icon-size-x);
  height: var(--icon-size-y);
  text-decoration: none;
  justify-content: center;
  vertical-align: baseline;
}

.heading-wrapper > .anchor-link {
  opacity: 0.5;
}

@media (hover: hover) {
  .heading-wrapper > .anchor-link {
    opacity: 0;
  }
}

.heading-wrapper:hover > .anchor-link,
.anchor-link:focus {
  opacity: 1;
}

/* Code Snippets */
code {
  --border-radius: 4px;
  --padding-block: 0.1rem;
  --padding-inline: 0.4rem;
  font-size: 0.9rem;
  background: #35363e;
  border-radius: var(--border-radius);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
}

/*RTL Fix Code dir for inline code*/
[dir='rtl'] code {
  unicode-bidi: plaintext;
}

/*RTL Fix codeBlock base in Shiki output*/
[dir='rtl'] span.line {
  direction: ltr;
  unicode-bidi: isolate;
}

/* Code block file name header */
.remark-code-title {
  --padding-block: 1rem;
  --padding-inline: 2rem;
  --border-radius: 0.3rem;
  position: relative;
  top: 1px;
  display: inline-flex;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  /* margin-left: calc(var(--padding-inline) * -1); */
  /* margin-right: calc(var(--padding-inline) * -1); */
  background: #2f2b3b;
  border: 1px solid #ee4b2b;
  border-bottom: 1px solid #2f2b3b;
  font-size: 14px;
  /* box-shadow: 0px 1px 5px #ee4b2b; */
  box-shadow: 0px -2px 5px #ee4b2b;

  z-index: 1;
}

pre {
  --padding-block: 1rem;
  --padding-inline: 2rem;
  --border-radius: 0.3rem;
  position: relative;
  padding: var(--padding-block) var(--padding-inline);
  padding-inline-end: calc(var(--padding-inline) * 2);
  /* margin-left: calc(var(--padding-inline) * -1); */
  /* margin-right: calc(var(--padding-inline) * -1); */
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border: 1px solid #ee4b2b;
  /* border-top: 0; */
  /* box-shadow: 0px 1px 5px #ee4b2b; */
  box-shadow: 0px 1px 5px #ee4b2b;

  /* font-family: var(--font-mono); */

  font-size: 0.85rem;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-text-size-adjust: none;
}

pre > code {
  background: transparent;
}

/*  */

/* Screen reader only text */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}