/* 
* This is my custom prose styles applied instead of Tailwind's default prose styles.
*/
.custom-prose {
	color: var(--text1);
	max-width: 65ch;

	:where(h1, h2, h3, h4, h5, h6) {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-family: 'Permanent Marker', cursive;
		margin: 1.75rem 0 0.5rem;

		& > a {
			color: var(--brand);
			transition: colors 0.2s ease-in-out;

			&:hover {
				color: var(--brand-accent);
			}
		}
	}

	:where(a) {
		color: var(--brand);
		font-style: italic;
		text-decoration: var(--brand-accent) wavy underline;

		&:hover {
			opacity: 0.8;
		}
	}

	:where(p) {
		margin: 1rem 0;
	}

	:where(img, video) {
		max-inline-size: 100%;
		margin: 1rem 0;
		margin-inline: auto;
	}

	:where(:not(pre) > code, kbd) {
		white-space: nowrap;
	}

	:where(pre) {
		padding: 1rem;
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 16px;
		white-space: pre;
		min-inline-size: 0;
	}

	:where(:not(pre) > code) {
		padding: 0.25rem 0.5rem;
		background-color: var(--surface2);
		border-radius: 5px;
	}

	// Styles for lists
	:where(ul, ol) {
		margin: 1rem 0;
		padding-inline-start: 1.5rem;
		list-style: disc;

		:where(li) {
			margin: 0.5rem 0;
		}
	}

	// Media queries for inline code and pre blocks mobile responsiveness
	@media (max-width: 640px) {
		:where(:not(pre) > code) {
			padding: 0.25rem 0.5rem;
			font-size: 0.75rem;
		}

		:where(pre) {
			padding: 0.5rem;
			font-size: 0.75rem;
		}
	}
}
