:root {
  /* Global App Variables */
  /* Using the color channels allows to use opacity values with tailwind css */

  /* Palette #1 */
  --tw-dark-one-p1: 23 23 23; /* #171717 */
  --tw-dark-two-p1: 68 68 68; /* #444444 */
  --tw-accent-p1: 218 0 55; /* #DA0037 */
  --tw-typography-p1: 237 237 237; /* #ededed */

  /* Palette #2 */
  --tw-dark-one-p2: 4 28 50; /* #041c32 */
  --tw-dark-two-p2: 255 255 255; /* #04293a */
  --tw-accent-p2: 0 0 0; /* #ecb365 */
  --tw-typography-p2: 0 0 0; /* #064663 */

  /* Palette #3 */
  --tw-dark-one-p3: 34 40 49; /* #222831 */
  --tw-dark-two-p3: 57 62 70; /* #393e46 */
  --tw-accent-p3: 255 211 105; /* #ffd369 */
  --tw-typography-p3: 238 238 238; /* #eee */

  /* Active Variables */
  --clr-darker: rgb(var(--tw-dark-one-p1));
  --clr-lighter: rgb(var(--tw-dark-two-p1));
  --clr-accent: rgb(var(--tw-accent-p1));
  --clr-typography: rgb(var(--tw-typography-p1));
}

html {
  scroll-behavior: smooth;
}