---
import BaseLayout from '~/layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="flex flex-col items-center justify-center">
        <h1 class="mb-4 text-3xl font-semibold">Oops! Page Not Found</h1>
        <p class="mb-8 text-center">
            It looks like you're trying to access a page that doesn't exist, or maybe there are some
            secrets that you're not authorized to see here.
        </p>
        <a
            href="/"
            class="flex gap-3 rounded bg-neutral-200 px-4 py-2 text-black hover:bg-neutral-600"
        >
            Go Back to Safety
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-left"
                ><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg
            >
        </a>
    </div>
</BaseLayout>
