---
import { getRelativeLocaleUrl } from 'astro:i18n';

import Layout from '~/layouts/main-layout.astro';

export const prerender = true;
const aboutURL = getRelativeLocaleUrl('es', 'about');
---

<Layout>
    <div class="mb-6 flex items-center justify-between">
        <h1 class="text-2xl font-bold md:text-3xl">About Me</h1>
        <a href={aboutURL} class="text-sm underline hover:opacity-80">Leer en Español</a>
    </div>

    <div class="prose prose-invert">
        <p>
            I&apos;ve loved building things for as long as I can remember, that&apos;s the main
            reason I became a <strong>civil engineer.</strong> I find passion in learning new things
            and I&apos;m always looking for new challenges.
        </p>
        <p>
            I took my first programming course back in college and I fell inlove with it. I started
            learning by myself and never stopped. Thanks to that, I&apos;ve been working as a <strong
                >software engineer</strong
            > for a few years now, using different languages like <strong>JavaScript</strong>, <strong
                >PHP</strong
            > and <strong>Python</strong>.
        </p>
        <p>
            I&apos;m currently working as a full stack developer involved in different projects for
            both web and mobile platforms.
        </p>
        <p>
            When I&apos; not coding, I love playing video games, watching movies or series, learning
            other things that peak my interest, and, spending time with my family.
        </p>
    </div>

    <hr class="my-8 border-neutral-500/50" />

    <h2 class="mb-6 text-2xl font-bold md:text-3xl">About this Site</h2>

    <div class="prose prose-invert">
        <p>
            Working on my personal website is a way for me to learn, explore and improve my skills.
            One of my biggest mistaks early on was trying to overengineer my website. I was using a
            lot of libraries and frameworks, and I was trying to use the latest and greatest of
            everything, with crazy, overcomplicated designs and animations. I was trying to do too
            much, and I was doing it wrong.
        </p>
        <p>
            The more I work on my style, the more I enjoy working on minimalistic, yet good looking
            designs. I&apos;m always looking for new ideas and inspirations, to improve my website.
            With that in mind, is not surprise that I find a lot of inspiration in <a
                href="https://leerob.io"
                target="_blank"
                rel="noopener noreferrer">Leerob&apos;s minimalistic style</a
            >.
        </p>
        <p>
            One of my challenges when re-building this website was to keep it as simple as I could
            and use as few libraries/third-party packages as possible.
        </p>
        <p>
            The first step was to select a stack. Over the years, I&apos;ve tested several
            frameworks like <a href="https://nextjs.org/" target="_blank" rel="noopener noreferrer"
                >Next.js</a
            >, <a href="https://www.gatsbyjs.com/" target="_blank" rel="noopener noreferrer"
                >Gatsby</a
            >, and more recently <a
                href="https://astro.build/"
                target="_blank"
                rel="noopener noreferrer">Astro</a
            >. And, although I&apos;ve found things I like and don&apos;t like on all of these
            frameworks I finally decided to go with the one I liked the most and felt was better
            suited for this task: <strong>Astro</strong>.
        </p>
        <p>
            And yes, I know, even a framework like Astro can be considered overkill to build a
            website like this that can be easily created with simple HTML and CSS. But, I&apos;m one
            of those wo think you should use whatever you prefer and know as long as it can get the
            job done. So, for that, I thnk I&apos;m going to give myself a pass on this selection
            😅.
        </p>
        <p>
            I&apos;m also a huge fan of <a
                href="https://tailwindcss.com/"
                target="_blank"
                rel="noopener noreferrer">Tailwind CSS</a
            > (yes, I&apos;m part of the Tailwind cult), and, I use it every time I can.
        </p>
        <p>
            Even though I&apos;m not using a UI framework like React, I still wanted to add a bit of
            interactivity to the website. For that, I decided to take advantage of Astro&apos;s new
            feature <a
                href="https://docs.astro.build/en/core-concepts/astro-pages/#page-partials"
                target="_blank"
                rel="noopener noreferrer">Page Partials</a
            > with <a href="https://htmx.org/" target="_blank" rel="noopener noreferrer">HTMX</a>.
        </p>
        <p>
            Finally, as a way of adding a bit of everything, I wanted to store the views count of my
            posts in a database. For that, I decided to use <a
                href="https://xata.io/"
                target="_blank"
                rel="noopener noreferrer">Xata</a
            >
            , and, so far, it has been a great DX. Previously I was using Prisma as my ORM with Planetscale
            but I decided to try something different.
        </p>
    </div>
</Layout>
