---
import BaseLayout from '@/layouts/BaseLayout.astro'

export const prerender = true
---

<BaseLayout>
    <div>
        <h1 class="mb-6 text-2xl font-bold md:text-3xl">About Me</h1>
        <div class="prose prose-invert">
            <p>
                I’ve loved building things for as long as I can remember, that's
                the reason I became a <strong>Civil Engineer</strong>. I love to
                learn new things and I'm always looking for new challenges.
                That's why I decided to become a <span>Software Engineer</span>.
            </p>
            <p>
                I took my first programming course back in college and I fell in
                love with it. I started learning by myself and I never stopped.
                I've been working as a Software Engineer for a few years now,
                mostly with <strong>JavaScript</strong>.
            </p>
            <p>
                I'm currently working as a Full Stack Developer involved in
                different projects in the <strong>JavaScript</strong> ecosystem,
                both for mobile and web.
            </p>
            <p>
                Besides JavaScript, I also love to learn about other
                technologies and programming languages. Currently I'm learning <strong
                    >Go</strong
                > and several other technologies, like
                <em>Docker, DevOps, and more</em>. I also use <strong
                    >Python</strong
                > for some of my projects, tasks automatization and more.
            </p>
            <p>
                When I'm not coding, I love to play video games, watch movies or
                series, and spend time with my family.
            </p>
        </div>

        <hr class="my-8 border-neutral-500/50" />

        <!-- TODO: Improve this description -->
        <h2 class="mb-6 text-2xl font-bold md:text-3xl">About this Site</h2>
        <div class="prose prose-invert">
            <p>
                Working on my website is a way to learn new things and improve
                my skills. One of my biggest mistakes early on was trying to
                overengineer my website. I was using a lot of libraries and
                frameworks, and I was trying to use the latest and greatest of
                everything, with crazy, overcomplicated designs and animations.
                I was trying to do too much, and I was doing it wrong.
            </p>
            <p>
                The more I work on my style, the more I enjoyed working on
                minimalistic yet beautiful designs. I'm always looking for new
                ideas and inspiration, to improve my website.
            </p>
            <p>
                One of my challenges for this website was to keep it as simple
                as I could and use as few libraries and third-party packages as
                possible. Back when I started working on this website, I was
                using Next.js, and, although I really like the framework I
                wanted to try something different. Enter{' '}
                <a
                    href="https://astro.build/"
                    target="_blank"
                    rel="noopener noreferrer">Astro.</a
                >
            </p>
            <p>
                Since I wanted to go the minimalistic route, I felt that Astro
                was the perfect fit for this task. I'm using Astro to handle all
                my frontend code and API routes.
            </p>
            <p>
                I'm also a huge fan of <a href="https://tailwindcss.com/"
                    >Tailwind CSS</a
                >, and I use it every time I can. I think it's a great tool, and
                I'm always looking for new ways to use it. For the database I'm
                using a combination of <a href="https://orm.drizzle.team/"
                    >Drizzle ORM</a
                > and{' '}
                <a href="https://planetscale.com/">PlanetScale</a>. Previously I
                was using Prisma as my ORM but again, I wanted to try something
                new and leave as minimal footprint as possible on my website.
            </p>
        </div>
    </div>
</BaseLayout>
