---
import clsx from 'clsx';

import BaseLayout from '../layouts/BaseLayout.astro';
import SocialLinks from '~/shared/components/SocialLinks.astro';
import Container from '~/shared/components/Container.astro';
import { FeaturedPostCard } from '~/shared/components/jsx';
import { parseBlogPost } from './blog/_utils';
import { FeaturedReposList, AboutMeTabs, TagsCloud } from '~/shared/components/jsx';

const data = await Astro.glob('../content/blog/*.mdx');
const allPosts = await Promise.all(data?.map(parseBlogPost) ?? []);
const featuredPosts = allPosts.filter((post) => post.isFeatured);

const gradients = [
	'from-[#a952f6] via-[#9efbd8] to-[#17bb88]',
	'from-[#7a7176] via-[#509ce6] to-[#e5ac66]',
	'from-[#f9646a] via-[#dfc5e8] to-[#e3b59a]',
];
---

<BaseLayout title="Home | Sergio Barria">
	<Container as="div" class="my-8 space-y-16">
		<section>
			<div class="flex items-center w-full gap-6">
				<div class="w-[60%]">
					<h1>Hi, I'm Sergio 👋🏼</h1>
					<p class="text-neutral-400 text-lg">Web & Mobile Full-Stack Developer</p>
					<p class="my-3 text-base md:text-lg">
						I work with the JavaScript ecosystem, I love to learn new things and share my knowledge
						with others. Welcome to my small space of the internet, where I write and share about
						different topics related to the web.
					</p>
					<SocialLinks />
				</div>
				<div class="hidden md:block w-[40%]">
					<TagsCloud client:load />
				</div>
			</div>
		</section>

		<!-- About Me Section -->
		<section class="w-full">
			<div class="bg-gray-100 dark:bg-gray-800 rounded-lg p-6">
				<h2 class="text-center mb-6">About Me</h2>

				<div class="flex items-start gap-6">
					<div class="hidden md:block w-[35%]">
						<div class="relative w-full">
							<div class="absolute w-30 h-30 inset-0 rounded-full opacity-70 hero-blob"></div>
							<img
								src="https://res.cloudinary.com/sbarria-dev/image/upload/c_scale,f_auto,q_auto,w_362/v1658762124/sergiobarria/hero_nqdmcv.webp"
								width={2000}
								alt="hero image"
							/>
						</div>
					</div>
					<article class="w-full md:w-[65%] space-y-3 pl-6">
						<ul class="list-disc marker:text-accent marker:text-lg prose dark:prose-invert">
							<li>
								I'm a <strong>Civil Engineer</strong> turn into Full Stack <strong
									class="text-accent"
								>
									Web & Mobile Developer</strong
								> from Panama.
							</li>
							<li>
								Although I mostly work in the JavaScript/TypeScript ecosystem with technologies like <strong
									class="text-accent">React, Next.js and Node.</strong
								> I also, have experience with other programming languages like <strong
									class="text-accent">Python & Dart</strong
								>
							</li>
							<li>
								Also, I like using other libraries like <strong>Vue, React Native</strong> and many
								<strong>styling libraries</strong>.
							</li>
							<li>
								I enjoy learning about new technologies, patterns and best practices related to web
								& mobile development.
							</li>
							<li>
								Currently I'm learning more about backend development with <strong
									class="text-accent">Go</strong
								>. Also, I'm learning about
								<strong class="text-accent">SQL</strong> Databases and <strong class="text-accent"
									>CI/CD</strong
								>
							</li>
						</ul>
					</article>
				</div>
			</div>
		</section>

		<!-- Featured Posts -->
		<section>
			<h2>Featured Posts</h2>
			<div class="flex flex-col gap-6 md:flex-row my-6">
				{
					featuredPosts.map((post, i) => {
						const { title, url, minutesRead } = post;
						const gradient = gradients[i];

						return (
							<FeaturedPostCard
								client:visible
								title={title}
								url={url}
								readingTime={minutesRead as string}
								gradient={gradient}
							/>
						);
					})
				}
			</div>
			<a
				href="/blog"
				class={clsx(
					'inline-flex justify-center items-center px-3 py-2 text-base font-medium',
					'text-gray-500 bg-gray-50 rounded-lg hover:text-gray-900 hover:bg-gray-100',
					'dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white'
				)}
			>
				<span class="w-full">See all posts</span>
				<svg
					aria-hidden="true"
					class="ml-3 w-6 h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
						clip-rule="evenodd"></path>
				</svg>
			</a>
		</section>

		<!-- Featured Projects -->
		<section>
			<h2 class="mb-3">Featured Projects</h2>
			<p>Here is a list of the pinned projects from my Github Account.</p>
			<FeaturedReposList client:load />
			<a
				href="/portfolio"
				class={clsx(
					'inline-flex justify-center items-center px-3 py-2 text-base font-medium',
					'text-gray-500 bg-gray-50 rounded-lg hover:text-gray-900 hover:bg-gray-100',
					'dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white'
				)}
			>
				<span class="w-full">See all projects</span>
				<svg
					aria-hidden="true"
					class="ml-3 w-6 h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
						clip-rule="evenodd"></path>
				</svg>
			</a>
		</section>

		<!-- What I'm up to right now -->
		<section>
			<h2>A Bit About Me</h2>
			<AboutMeTabs client:visible />
		</section>

		<!-- </div> -->
	</Container>
</BaseLayout>
