---
import type { Props as SeoProps } from 'astro-seo';
import clsx from 'clsx';

import BaseLayout from '~/layouts/BaseLayout.astro';
import FeaturedPostsList from '~/shared/components/FeaturedPostsList.astro';
import Link from '~/shared/components/Link.astro';

import { SocialLinks, FeaturedProjectsList, MyselfSection } from '~/shared/components/jsx';
import { parseBlogPost } from './blog/_utils';
import { parseProject } from './projects/_utils';

import site from '../../site.json';
import { getFeaturedPosts } from 'notion/client';

const featuredPosts = await getFeaturedPosts();

const projectsData = await Astro.glob('../content/projects/*.mdx');
const allProjects = await Promise.all(projectsData?.map(parseProject) ?? []);
const featuredProjects = allProjects
	.filter((project) => project.featured)
	.sort((a, b) => a.order - b.order);

const metadata: SeoProps = {
	title: 'Home | Sergio Barria',
	canonical: 'https://sergiobarria.com/',
	openGraph: {
		basic: {
			title: 'Homepage',
			url: 'https://sergiobarria.com/',
			image: site.openGraph.images[0].url,
			type: 'website',
		},
		image: {
			alt: 'Website cover',
		},
	},
};
---

<BaseLayout metadata={metadata}>
	<section id="hero">
		<div class="flex items-center gap-6">
			<div>
				<h1>Hey! I'm <span class="text-brand-accent">Sergio</span> 👋🏼</h1>
				<p class="mb-3 md:text-lg text-font-three">Web & Mobile Full-Stack Developer</p>
				<p class="mb-3 text-base md:text-xl">
					I work with the JavaScript ecosystem, I love to learn new things and share my knowledge
					with others. Welcome to my small space of the internet, where I write and share about
					different topics related to the web.
				</p>
				<SocialLinks client:visible size="large" />
			</div>
			<div class="hidden md:block w-full aspect-square max-w-[300px]">
				<div class="relative">
					<div class="blob-container"></div>
					<img
						src="https://ik.imagekit.io/l5swuiqdn/personal-website/spaceship-launch_lsag8o.png"
						width={300}
						height={300}
						alt="hero image"
					/>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="p-4 my-10 bg-surface-two rounded-xl">
		<h2 class="mb-3 text-center">About Me</h2>
		<div class="flex flex-col items-center gap-8 md:flex-row">
			<div class="w-52 h-52 md:w-auto md:h-auto">
				<img
					src="https://ik.imagekit.io/l5swuiqdn/tr:r-max/profile-pic.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1673757504635"
					alt="profile pic"
				/>
			</div>
			<div>
				<ul class="list-disc">
					<li>
						I'm a <strong>Civil Engineer</strong> turn into Full Stack <strong
							class="text-brand-accent">Web & Mobile Developer</strong
						> from Panama.
					</li>
					<li>
						Although I mostly work in the JavaScript/TypeScript ecosystem, with technologies like <strong
							class="text-brand-accent">React, Next.js and Node.js</strong
						>. I also, have experience with other programming languages like <strong
							class="text-brand-accent">Python & Dart.</strong
						>
					</li>
					<li>
						Also, I like using other libraries/frameworks like <strong class="text-brand-accent"
							>Next.js, Vue</strong
						>, as many <strong class="text-brand-accent">styling libraries.</strong>
					</li>
					<li>
						I enjoy learning about new technologies, patterns and best practices related to web &
						mobile development.
					</li>
					<li>
						Currently, I'm learning more about backend development with the <strong
							class="text-brand-accent"
							>Go
						</strong>programming language. Also, I'm learning more about <strong
							class="text-brand-accent">SQL</strong
						> Databases and <strong class="text-brand-accent">CI/CD.</strong>
					</li>
				</ul>
				<div
					class={clsx(
						'flex justify-center text-center text-brand/70 text-xs md:text-base',
						'animate-bounce transition-all duration-500 ease-in-out mt-4'
					)}
				>
					<a href="#doing-now"
						>Want to now more about me? Click <span class="underline decoration-wavy">here</span
						>.</a
					>
				</div>
			</div>
		</div>
	</section>

	<section id="feat-posts" class="mb-10">
		<h2 class="text-center">Featured Posts</h2>
		<FeaturedPostsList posts={featuredPosts} />
		<div class="flex justify-end pt-3">
			<Link url="/blog">See all posts</Link>
		</div>
	</section>

	<section id="feat-projects" class="mb-10">
		<h2 class="text-center">Featured Projects</h2>
		<FeaturedProjectsList client:visible projects={featuredProjects} />
	</section>

	<section id="doing-now" class="mb-10">
		<h2 class="text-center">Me, Myself and I</h2>
		<MyselfSection client:visible />
	</section>
</BaseLayout>
