---
import type { Props as SeoProps } from 'astro-seo';
import { ArrowRightIcon } from '@radix-ui/react-icons';
import clsx from 'clsx';

import BaseLayout from '~/layouts/BaseLayout.astro';
import { FeaturedPostsList } from '~/shared/components/jsx';

import {
	SocialLinks,
	FeaturedProjectsList,
	MyselfSection,
	CloudinaryImage,
} from '~/shared/components/jsx';
import { parseBlogPost } from './blog/_utils';
import { parseProject } from './projects/_utils';

import site from '../../site.json';

const postsData = await Astro.glob('../content/blog/*.mdx');
const projectsData = await Astro.glob('../content/projects/*.mdx');
const allPosts = await Promise.all(postsData?.map(parseBlogPost) ?? []);
const allProjects = await Promise.all(projectsData?.map(parseProject) ?? []);
const featuredPosts = allPosts.filter((post) => post.isFeatured);
const featuredProjects = allProjects
	.filter((project) => project.featured)
	.sort((a, b) => a.order - b.order);

const metadata: SeoProps = {
	title: 'Home | Sergio Barria',
	canonical: 'https://sergiobarria.com/',
	openGraph: {
		basic: {
			title: 'Homepage',
			url: 'https://sergiobarria.com/',
			image: site.openGraph.images[0].url,
			type: 'website',
		},
		image: {
			alt: 'Website cover',
		},
	},
};
---

<BaseLayout metadata={metadata}>
	<section id="hero">
		<div class="flex items-center gap-6">
			<div>
				<h1>Hey! I'm <span class="text-brand-accent">Sergio</span> 👋🏼</h1>
				<p class="md:text-lg text-font-three mb-3">Web & Mobile Full-Stack Developer</p>
				<p class="text-base md:text-xl mb-3">
					I work with the JavaScript ecosystem, I love to learn new things and share my knowledge
					with others. Welcome to my small space of the internet, where I write and share about
					different topics related to the web.
				</p>
				<SocialLinks client:visible size="large" />
			</div>
			<div class="hidden md:block w-full aspect-square max-w-[300px]">
				<div class="relative">
					<div class="blob-container"></div>
					<picture>
						<CloudinaryImage publicId="sergiobarria/spaceship-launch_lsag8o.png" alt="hero image" />
					</picture>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="bg-surface-two p-4 rounded-xl my-8">
		<h2 class="text-center mb-3">About Me</h2>
		<div class="flex flex-col md:flex-row items-center gap-8">
			<div class="w-52 h-52 md:w-auto md:h-auto">
				<picture>
					<CloudinaryImage
						publicId="sergiobarria/4C59B2D2-E116-4D3A-8F83-E2D1DA064661_1_105_c_kpcrhr.jpg"
						alt="profile image"
						rounded
					/>
				</picture>
			</div>
			<div>
				<ul class="list-disc">
					<li>
						I'm a <strong>Civil Engineer</strong> turn into Full Stack <strong
							class="text-brand-accent">Web & Mobile Developer</strong
						> from Panama.
					</li>
					<li>
						Although I mostly work in the JavaScript/TypeScript ecosystem, with technologies like <strong
							class="text-brand-accent">React, Next.js and Node.js</strong
						>. I also, have experience with other programming languages like <strong
							class="text-brand-accent">Python & Dart.</strong
						>
					</li>
					<li>
						Also, I like using other libraries/frameworks like <strong class="text-brand-accent"
							>Next.js, Vue</strong
						>, as many <strong class="text-brand-accent">styling libraries.</strong>
					</li>
					<li>
						I enjoy learning about new technologies, patterns and best practices related to web &
						mobile development.
					</li>
					<li>
						Currently, I'm learning more about backend development with the <strong
							class="text-brand-accent"
							>Go
						</strong>programming language. Also, I'm learning more about <strong
							class="text-brand-accent">SQL</strong
						> Databases and <strong class="text-brand-accent">CI/CD.</strong>
					</li>
				</ul>
				<div
					class={clsx(
						'flex justify-center text-center text-brand/70 text-xs md:text-base',
						'animate-bounce transition-all duration-500 ease-in-out mt-4'
					)}
				>
					<a href="#doing-now"
						>Want to now more about me? Click <span class="underline decoration-wavy">here</span
						>.</a
					>
				</div>
			</div>
		</div>
	</section>

	<section id="feat-posts" class="mb-8">
		<h2 class="text-center">Featured Posts</h2>
		<FeaturedPostsList client:visible posts={featuredPosts} />
		<div class="inline-flex items-center gap-3 mt-3 hover:text-brand-accent">
			<a href="/blog">See All Posts</a>
			<ArrowRightIcon width={18} height={18} />
		</div>
	</section>

	<section id="feat-projects" class="mb-8">
		<h2 class="text-center">Featured Projects</h2>
		<FeaturedProjectsList client:visible projects={featuredProjects} />
	</section>

	<section id="doing-now" class="mb-8">
		<h2 class="text-center">Me, Myself and I</h2>
		<MyselfSection client:visible />
	</section>
</BaseLayout>
