---
import MainLayout from '~/layouts/MainLayout.astro';

import FeaturedProjects from '~/shared/components/FeaturedProjects.astro';
import FavoriteStack from '~/shared/components/FavoriteStack.astro';
import Hero from '~/shared/components/Hero.astro';
import FeaturedPosts from '~/shared/components/FeaturedPosts.astro';

export const prerender = true;
---

<MainLayout title="Home | Sergio Barria">
	<Hero />

	<div class="grid grid-cols-1 max-w-xl mx-auto gap-y-20 my-12 lg:max-w-none lg:grid-cols-2">
		<FeaturedPosts />
		<div class="space-y-10 lg:pl-16 xl:pl-24">
			<FeaturedProjects />
			<FavoriteStack />
			<!-- TODO: Newsletter component? ðŸ‘‡ðŸ¼ -->
		</div>
	</div>
</MainLayout>
