---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import Layout from '~/layouts/main-layout.astro';
import HomeIcons from '~/components/home-icons.astro';
import profile from '~/assets/images/profile-4.png';

const postsEntries = await getCollection('posts', ({ data }) => {
    return !data.draft && !data.archived;
});
const posts = postsEntries
    .sort((a, b) => new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime())
    .slice(0, 3);
---

<Layout>
    <section id="hero">
        <h1 class="text-2xl font-bold md:text-3xl">hey, I&apos;m Sergio 👋</h1>
        <p class="text-sm text-neutral-400">developer, engineer and amateur writer</p>
        <p class="prose prose-invert mt-3">
            I&apos;m a civil engineer turn into software engineer from Panama. I work as a full
            stack developer building web and mobile apps, mostly around the <strong
                >JavaScript</strong
            >
             ecosystem.
        </p>

        <div class="my-6 flex items-center gap-6 md:flex-row">
            <div class="relative w-24">
                <Image src={profile} width={200} height={200} alt="profile" class="rounded-full" />
            </div>

            <div class="space-y-2 text-sm text-neutral-400">
                <a
                    href="https://github.com/sergiobarria"
                    class="flex items-center gap-3 hover:text-neutral-50"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-github h-4 w-4"
                        ><path
                            d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
                        ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
                    >
                    <p>
                        <span hx-get="/partials/stargazers" hx-trigger="load" hx-swap="outterHTML">
                            <span class="htmx-indicator animate-pulse">--</span>
                        </span>
                         GitHub stars
                    </p>
                </a>

                <a href="/blog" class="flex items-center gap-3 hover:text-neutral-50">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-trending-up h-4 w-4"
                        ><polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline><polyline
                            points="16 7 22 7 22 13"></polyline></svg
                    >
                    <p>
                        <span hx-get="/partials/total-views" hx-trigger="load" hx-swap="outterHTML">
                            <span class="htmx-indicator animate-pulse">--</span>
                        </span>
                         total posts views
                    </p>
                </a>

                <div class="flex items-center gap-3">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-code-2 h-4 w-4"
                        ><path d="m18 16 4-4-4-4"></path><path d="m6 8-4 4 4 4"></path><path
                            d="m14.5 4-5 16"></path></svg
                    >
                    <p>
                        Favorite:
                        <span
                            hx-get="/partials/favorite-language"
                            hx-trigger="load"
                            hx-swap="innerHTML"
                        >
                            <span class="htmx-indicator animate-pulse">--</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <HomeIcons />

        <div class="prose prose-invert mt-3">
            <p>
                Welcome to my small space of the internet, where I write and share about different
                topics related to the web. I&apos;m constantly exploring new technologies.
            </p>

            <p>
                Currently I&apos;m working on improving my knowledge with:
                <strong>.NET</strong>, <strong>AWS</strong>, and other tools for web development.
            </p>
        </div>
    </section>

    <section id="latest-articles" class="my-8">
        <h2 class="mb-4 text-xl font-semibold md:text-2xl lg:text-3xl">Latest Articles</h2>

        <ul class="space-y-3">
            {
                posts.map(post => (
                    <li class="rounded border border-neutral-600 p-2 hover:bg-neutral-900">
                        <a
                            href={'/blog/' + post.slug}
                            class="flex justify-between hover:text-neutral-300"
                        >
                            <h2
                                class="font-light tracking-tighter"
                                transition:name={`post-${post.slug}`}
                            >
                                {post.data.title}
                            </h2>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-arrow-up-right h-4 w-4 text-neutral-500"
                            >
                                <>
                                    <path d="M7 7h10v10" />
                                    <path d="M7 17 17 7" />
                                </>
                            </svg>
                        </a>
                        <p class="flex items-center gap-1 text-sm text-neutral-400">
                            <span
                                hx-get="/partials/views-counter"
                                hx-trigger="load"
                                hx-vals={JSON.stringify({ slug: post.slug })}
                            >
                                <span class="htmx-indicator animate-pulse">--</span>
                            </span>
                            views
                        </p>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>
