/* Blob Animation */
@-webkit-keyframes blob {
	0%,
	100% {
		border-radius: 77% 47% 61% 49%;
	}
	20% {
		border-radius: 89% 26% 70% 30%;
	}
	40% {
		border-radius: 56% 93% 56% 94%;
	}
	60% {
		border-radius: 68% 60% 94% 96%;
	}
	80% {
		border-radius: 34% 74% 59% 82%;
	}
}

@keyframes blob {
	0%,
	100% {
		border-radius: 77% 47% 61% 49%;
	}
	20% {
		border-radius: 89% 26% 70% 30%;
	}
	40% {
		border-radius: 56% 93% 56% 94%;
	}
	60% {
		border-radius: 68% 60% 94% 96%;
	}
	80% {
		border-radius: 34% 74% 59% 82%;
	}
}

/* Fade In Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Fade Out Animation */
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
