// @use 'mixins' as utils;

// /* NOTE: This variables define the syntax highlight for code blocks
// *  the astro-code prefix is required to work with astro, normally the
// *  prefix would be --shiki
// */
// /* TODO: Add different themes for each color scheme depending on the [data-theme] attribute */
// :root {
// 	--astro-code-color-text: hsl(0, 0%, 95%);
// 	--astro-code-color-background: var(--surface2);
// 	--astro-code-token-constant: hsl(208, 98%, 50%);
// 	--astro-code-token-string: hsl(168, 100%, 48%);
// 	--astro-code-token-comment: hsl(0, 0%, 60%);
// 	--astro-code-token-keyword: hsl(208, 98%, 50%);
// 	--astro-code-token-parameter: hsl(208, 90%, 49%);
// 	--astro-code-token-function: hsl(208, 98%, 50%);
// 	--astro-code-token-string-expression: hsl(168, 100%, 48%);
// 	--astro-code-token-punctuation: hsl(208, 98%, 50%);
// 	--astro-code-token-link: hsl(208, 98%, 50%);
// }

// :where(pre, .remark-code-title) {
// 	font-family: 'IMB Plex Mono', monospace;
// 	font-size: var(--font-size-1);
// 	line-height: var(--font-lineheight-2);
// 	color: var(--text1);
// 	background-color: var(--surface2);
// }

// :where(pre) {
// 	box-sizing: border-box;
// 	padding: var(--size-3);
// 	overflow: auto;
// 	white-space: pre;
// 	border-bottom-left-radius: var(--radius-3);
// 	border-bottom-right-radius: var(--radius-3);
// 	border: 1px solid var(--surface4);
// 	margin-bottom: var(--size-4);
// 	max-inline-size: var(--size-content-3);
// 	max-width: none;

// 	& > code {
// 		font-family: 'IBM Plex Mono', monospace;
// 	}
// }

// :where(p, li, ul, ol) {
// 	& > code {
// 		font-family: 'IBM Plex Mono', monospace;
// 		color: var(--brand-accent);
// 		font-size: var(--font-size-0);
// 	}
// }

// :where(.remark-code-title) {
// 	position: relative;
// 	padding: var(--size-3);
// 	border-top-left-radius: var(--radius-3);
// 	border-top-right-radius: var(--radius-3);
// 	border: 1px solid var(--surface4);
// 	padding-left: 40px;

// 	html[data-theme='light'] & {
// 		background-color: var(--gray-8);
// 		color: var(--gray-2);
// 	}

// 	&:before {
// 		@include utils.position(absolute, 50%, null, null, 0);

// 		content: '';
// 		transform: translateY(-50%);
// 		display: block;
// 		height: 15px;
// 		width: 15px;
// 		margin-left: 15px;
// 		border-radius: var(--radius-round);
// 		background-color: var(--brand-accent);
// 	}
// }
