/* The Normalize.css file from Open Props already gives nice defaults
* for the post content. This file is used to custimize a bit more 
*/
#post-content {
	:where(h1, h2, h3, h4, h5, h6) {
		font-family: 'Permanent Marker', cursive;
	}

	h2 {
		margin: var(--size-6) 0 var(--size-3);
		display: flex;
		align-items: center;
		gap: var(--size-2);
	}

	p {
		margin: var(--size-3) 0;
	}

	a {
		color: var(--brand-dimmed);
		text-decoration: underline;
		text-decoration-style: wavy;
		text-decoration-color: var(--brand-accent);
		font-family: 'Permanent Marker', cursive;
		transition: color 0.2s var(--ease-in-out-3);

		&:hover {
			color: var(--brand-accent);
		}
	}
}
