---
import { increment, getViewsForSlug } from '~/lib/xata';

export const partial = true;

if (Astro.request.method !== 'GET') return Astro.redirect(null, 404);

async function updatePostCount() {
    const searchParams = new URLSearchParams(new URL(Astro.url).search);
    const slug = searchParams.get('slug');
    const track = searchParams.get('track');
    let views;

    if (!slug) return;

    if (track) views = await increment(slug);

    views = await getViewsForSlug(slug);
    return views;
}

const views = updatePostCount();
---

<span>{views}</span>
