---
import { increment, getViewsForSlug } from '~/lib/xata';

export const partial = true;
export const prerender = false;

if (Astro.request.method !== 'GET') return Astro.redirect(null, 404);

async function updatePostCount() {
    const slug = new URL(Astro.url).searchParams.get('slug');
    const track = new URL(Astro.url).searchParams.get('track');

    if (!slug) return;

    const views = track ? await increment(slug) : await getViewsForSlug(slug);
    return views;
}

const views = await updatePostCount();
---

<span>{views?.toLocaleString() ?? '--'}</span>
