---
import { increment, getViewsForSlug } from '~/lib/planetscale';

export const partial = true;
export const prerender = false;

async function updatePostCount() {
    const searchParams = new URLSearchParams(new URL(Astro.url).search);
    const slug = searchParams.get('slug');
    const track = searchParams.get('track');
    let views: number | undefined;

    if (!slug) return;

    if (track) await increment(slug);
    views = await getViewsForSlug(slug);

    return views;
}

const views = updatePostCount();
---

<span>{views} views</span>
