---
import { increment, getViewsForSlug } from '~/lib/planetscale';

export const partial = true;
export const prerender = false;

async function updatePostCount() {
    const searchParams = new URLSearchParams(new URL(Astro.url).search);
    const slug = searchParams.get('slug');

    if (!slug) return;

    await increment(slug);
    const views = await getViewsForSlug(slug);

    return views;
}

const views = updatePostCount();

const { initialViews } = Astro.props as { initialViews?: number };
---

<span>{views ?? initialViews} views</span>
