---
export const prerender = false;
---

<div id="animated-bars" class="flex w-auto items-end gap-0.5 overflow-hidden">
    <span id="bar1" class="h-2 w-[1px] bg-green-500"></span>
    <span id="bar2" class="h-1 w-[1px] bg-green-500"></span>
    <span id="bar3" class="h-3 w-[1px] bg-green-500"></span>
</div>

<script>
    import { animate } from 'motion';

    function runAnimations() {
        animate(
            '#bar1',
            {
                transform: [
                    'scaleY(1.0) translateY(0rem)',
                    'scaleY(1.5) translateY(-0.082rem)',
                    'scaleY(1.0) translateY(0rem)'
                ]
            },
            {
                duration: 0.5,
                repeat: Infinity,
                easing: ['ease-in-out']
            }
        );
        animate(
            '#bar2',
            {
                transform: [
                    'scaleY(1.0) translateY(0rem)',
                    'scaleY(3) translateY(-0.083rem)',
                    'scaleY(1.0) translateY(0rem)'
                ]
            },
            {
                delay: 0.2,
                duration: 0.75,
                repeat: Infinity,
                easing: ['ease-in-out']
            }
        );
        animate(
            '#bar3',
            {
                transform: [
                    'scaleY(1.0)  translateY(0rem)',
                    'scaleY(0.5) translateY(0.31rem)',
                    'scaleY(1.0)  translateY(0rem)'
                ]
            },
            {
                delay: 0.3,
                duration: 0.75,
                repeat: Infinity,
                easing: ['ease-in-out']
            }
        );
    }

    runAnimations();
</script>
