---
interface Props {
    type: keyof typeof calloutTypeMappings;
}

const calloutTypeMappings = {
    tip: {
        border: 'border-green-400',
        background: 'bg-green-400/40',
        text: 'text-green-200'
    },
    warn: {
        border: 'border-yellow-400',
        background: 'bg-yellow-400/40',
        text: 'text-yellow-200'
    },
    error: {
        border: 'border-red-400',
        background: 'bg-red-400/40',
        text: 'text-red-200'
    },
    info: {
        border: 'border-blue-400',
        background: 'bg-blue-400/40',
        text: 'text-blue-200'
    }
};

const { type } = Astro.props as Props;
const typeMapping = calloutTypeMappings[type];
---

<div class:list={['my-8 rounded border', typeMapping.border]}>
    <span class:list={['flex items-center gap-3 p-3', typeMapping.background, typeMapping.text]}>
        {
            type === 'tip' && (
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-flame text-green-600"
                >
                    <path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z" />
                </svg>
            )
        }
        {
            type === 'warn' && (
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-alert-circle text-yellow-600"
                >
                    <line x1="12" x2="12" y1="8" y2="12" />
                    <>
                        <circle cx="12" cy="12" r="10" />
                        <line x1="12" x2="12.01" y1="16" y2="16" />
                    </>
                </svg>
            )
        }
        {
            type === 'error' && (
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-skull text-rose-600"
                >
                    <circle cx="15" cy="12" r="1" />
                    <path d="M8 20v2h8v-2" />
                    <path d="m12.5 17-.5-1-.5 1h1z" />
                    <>
                        <circle cx="9" cy="12" r="1" />
                        <path d="M16 20a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20" />
                    </>
                </svg>
            )
        }
        {
            type === 'info' && (
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-info text-sky-600"
                >
                    <path d="M12 16v-4" />
                    <>
                        <circle cx="12" cy="12" r="10" />
                        <path d="M12 8h.01" />
                    </>
                </svg>
            )
        }
        <span class="text-sm font-semibold capitalize">{type}</span>
    </span>
    <span class="block px-3 text-sm">
        <slot />
    </span>
</div>
