---
import { Image } from 'astro:assets';

import { cn } from '~/lib/utils';

const links = [
    { label: 'home', href: '/' },
    { label: 'about', href: '/about' },
    { label: 'blog', href: '/blog' }
];

const pathname = new URL(Astro.url).pathname.split('/')[1];
---

<aside class="top-10 md:sticky md:h-screen">
    <div class="h-auto w-[35px]">
        <Image src="/images/logo.png" width={225} height={346} alt="logo" class="-pl-2.5" />
    </div>

    <nav class="-ml-2.5 mt-6 flex min-w-[100px] md:flex-col">
        {
            links.map(link => (
                <a
                    href={link.href}
                    class={cn(
                        'top-0 inline-block max-w-fit px-2.5 py-1.5 font-light text-neutral-400 hover:text-neutral-50',
                        'transition-colors duration-200 ease-in-out',
                        {
                            'rounded-md bg-neutral-700 text-neutral-50':
                                pathname === link.href.slice(1)
                        }
                    )}
                >
                    {link.label}
                </a>
            ))
        }
    </nav>
</aside>
