---
import type { DBPost } from '~/lib/schema';

interface Props {
    showTotal?: boolean;
    slug?: string;
}

const { showTotal = false, slug } = Astro.props as Props;

let totalViews: number = 0;

const res = await fetch('http://localhost:4321/api/all-views.json');
const data = (await res.json()) as DBPost[];

if (showTotal) {
    totalViews = data.reduce((acc, cur) => acc + cur.views, 0);
} else {
    const post = data.find(post => post.slug === slug);
    totalViews = post?.views ?? 0;
}
export const prerender = false;
---

<span>{totalViews}</span>
