---
import { type CollectionEntry, getCollection } from 'astro:content';
import clsx from 'clsx';

import MainLayout from '~/layouts/MainLayout.astro';
import BackLink from '~/shared/components/BackLink.astro';

interface Props {
	entry: CollectionEntry<'snippets'>;
}

export async function getStaticPaths() {
	const snippetsEntries = await getCollection('snippets');

	return snippetsEntries.map((entry) => ({
		params: { slug: entry?.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props as Props;
const { Content } = await entry.render();
const { data } = entry;

export const prerender = true;
---

<MainLayout title="Snippets | Sergio Barria">
	<div class="lg:relative">
		<div class="mx-auto max-w-2xl">
			<BackLink href="/blog" />
			<article>
				<header class="flex flex-col mb-6">
					<h1
						class={clsx(
							'my-6 text-4xl font-bold tracking-tight text-zin-800',
							'dark:text-zinc-100 sm:text-5xl'
						)}
					>
						{data?.title}
					</h1>
				</header>

				<div class="prose dark:prose-invert">
					<Content />
				</div>
			</article>
		</div>
	</div>
</MainLayout>
