---
import type { Props as SeoProps } from 'astro-seo';
import BaseLayout from '~/layouts/BaseLayout.astro';

import { SnippetsList } from '~/shared/components/jsx';
import { parseSnippet } from './_utils';

import site from '../../../site.json';

const data = await Astro.glob('../../content/snippets/*.mdx');
const allSnippets = await Promise.all(data?.map(parseSnippet));

const metadata: SeoProps = {
	title: 'Snippets | Sergio Barria',
	canonical: 'https://sergiobarria.com/snippets',
	openGraph: {
		basic: {
			title: 'Snippets page',
			url: 'https://sergiobarria.com/',
			image: site.openGraph.images[0].url,
			type: 'website',
		},
		image: {
			alt: 'Website Cover',
		},
	},
};
---

<BaseLayout metadata={metadata}>
	<section id="header">
		<h1>Library</h1>
		<hr />
	</section>

	<section id="snippets" class="mt-8">
		<h2>All Snippets</h2>
		<p>Here is a list of all snippets I've created</p>
		<!-- TODO: Add Search bar -->
		<!-- <span>Search Bar</span> -->
		<SnippetsList client:visible snippets={allSnippets} />
	</section>
</BaseLayout>
