---
import type { Props as SeoProps } from 'astro-seo';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { PinnedReposList } from '~/shared/components/jsx';

import site from '../../../site.json';

const metadata: SeoProps = {
	title: 'Projects | Sergio Barria',
	canonical: 'https://sergiobarria.com/projects',
	openGraph: {
		basic: {
			title: 'Projects page',
			url: 'https://sergiobarria.com/projects',
			image: site.openGraph.images[0].url,
			type: 'website',
		},
		image: {
			alt: 'Website Cover',
		},
	},
};
---

<BaseLayout metadata={metadata}>
	<section class="header" id="header">
		<h1>My Portfolio</h1>
		<p>Here is a summary of some of the personal and profesional projects I've work on.</p>
		<hr />
	</section>

	<section id="pinned" class="my-8">
		<h2>Github Pinned Projects</h2>
		<p>These are the projects pinned in my Github Profile and fetched via Github GraphQL API.</p>
		<PinnedReposList client:visible />
	</section>
</BaseLayout>
