---
import BaseLayout from '~/layouts/BaseLayout.astro';
import { PinnedReposList } from '~/shared/components/jsx';

const metadata = {
	title: 'Projects',
	canonical: 'https://sergiobarria.com/projects',
	openGraph: {
		url: 'https://sergiobarria.com/projects',
	},
};
---

<style lang="scss">
	.header {
		p {
			max-inline-size: none;
		}
		margin-top: var(--size-8);

		hr {
			margin: var(--size-6) 0;
		}
	}

	.pinned {
		margin-bottom: var(--size-8);
		p {
			max-inline-size: none;
		}
	}
</style>

<BaseLayout
	title={metadata.title}
	pageCanonical={metadata.canonical}
	pageOpengraph={metadata.openGraph}
>
	<section class="header" id="header">
		<h1>My Portfolio</h1>
		<p>Here is a summary of some of the personal and profesional projects I've work on.</p>
		<hr />
	</section>

	<section class="pinned" id="pinned">
		<h2>Github Pinned Projects</h2>
		<p>These are the projects pinned in my Github Profile and fetched via Github GraphQL API.</p>
		<PinnedReposList client:visible />
	</section>
</BaseLayout>
