---
import '@fontsource-variable/readex-pro'

import Sidebar from '@/components/Sidebar.astro'
import config from '@/config'

const { title } = config
---

<html lang="en" class="bg-[#0e0f0f] text-[#e9ecef]">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <title>{title}</title>
    </head>
    <body class="font-light antialiased">
        <div class="mx-auto my-16 max-w-screen-md gap-6 px-5 md:flex md:px-0">
            <Sidebar />
            <main class="mt-5 flex-grow md:mt-0">
                <!-- ðŸ‘‡ðŸ¼ This is the entry point of the application -->
                <slot />
            </main>
        </div>
    </body>
</html>
