---
import '@fontsource-variable/readex-pro';

import Head from '~/components/Head.astro';
import Sidebar from '~/components/Sidebar.astro';
import Footer from '~/components/Footer.astro';
import config from '~/config';

import '../styles/globals.css';

interface Props {
    title?: string;
    description?: string;
}

const { title: defaultTitle, description: defaultDescription } = config;
const { title, description } = Astro.props as Props;
---

<html lang="en" class="scroll-smooth bg-[#0e0f0f] text-[#e9ecef]">
    <Head title={title ?? defaultTitle} description={description ?? defaultDescription} />
    <body class="mt-6 font-light antialiased">
        <div class="mx-auto max-w-screen-md md:flex">
            <Sidebar />

            <!-- ðŸ‘‡ðŸ¼ This is the entry point of the application -->
            <main class="mx-auto max-w-[600px] p-4 md:w-3/4">
                <slot />
                <Footer />
            </main>
        </div>
    </body>
</html>
