---
import '@fontsource/lato';
import '@fontsource/ibm-plex-mono';
import clsx from 'clsx';

import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import { FloatingMobileMenu } from './components/jsx';

import '~/styles/index.css';

import site from '../../site.json';

export interface Props {
	title?: string;
}

const pathname = new URL(Astro.request.url).pathname;

const { title: defaultTitle, description } = site;
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? defaultTitle}</title>

		<!-- Scripts -->
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}

				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark';
				}

				return 'light';
			})();

			if (theme === 'light') {
				document.documentElement.classList.remove('dark');
				localStorage.setItem('theme', 'light');
			} else {
				document.documentElement.classList.add('dark');
				localStorage.setItem('theme', 'dark');
			}
		</script>
	</head>
	<body
		class={clsx(
			'antialiased flex flex-col text-neutral-800 dark:text-typography min-h-screen',
			'transition-colors duration-300 ease-in-out dark:bg-[#1F2028]'
		)}
	>
		<Header />
		<FloatingMobileMenu client:visible currentPath={pathname} />
		<main class="container mx-auto my-8 max-w-screen-lg flex-1 px-4 lg:px-0">
			<!-- This is the entry point of the app -->
			<slot />
		</main>
		<Footer />
	</body>
</html>
