---
import '@fontsource/lato';
import '@fontsource/ibm-plex-mono';
import '@fontsource/permanent-marker';

import { Tooltips } from 'astro-tooltips';

import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import { FloatingMobileMenu } from './components/jsx';

import '~/styles/main.scss';

import site from '../../site.json';

export interface Props {
	title?: string;
}

const pathname = new URL(Astro.request.url).pathname;

const { title: defaultTitle, description } = site;
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? defaultTitle}</title>

		<Tooltips interactive={false} delay={[15, 10]} />

		<style>
			body {
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}

			main {
				margin-top: var(--size-9);
				padding-top: var(--size-6);
				width: min(100% - 2rem, 64rem);
				margin-inline: auto;
			}
		</style>
	</head>

	<body>
		<Header />
		<FloatingMobileMenu client:visible currentPath={pathname} />
		<main>
			<!-- This slot is the entry point of the application -->
			<slot />
		</main>
		<Footer />
	</body>
</html>
