---
import { SEO, Props as SeoProps, Meta } from 'astro-seo';
import '@fontsource/lato';
import '@fontsource/ibm-plex-mono';
import '@fontsource/permanent-marker';

import { Tooltips } from 'astro-tooltips';

import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import FloatingIcons from '~/layouts/components/FloatingIcons.astro';
import { FloatingMobileMenu } from './components/jsx';

import '~/styles/main.scss';

import site from '../../site.json';

const pathname = new URL(Astro.request.url).pathname;

interface Props {
	metadata?: SeoProps;
}

const { defaultTitle, description, url, canonical, openGraph, twitter, additionalMetaTags } = site;
const { metadata } = Astro.props as Props;
const defaultKeywords = additionalMetaTags
	?.find((tag) => tag.name === 'keywords')
	?.content.split(', ');
const dynamicKeywords = metadata?.extend?.meta
	?.find((tag) => tag.name === 'keywords')
	?.content?.split(', ');
const keywords = [...(defaultKeywords || []), ...(dynamicKeywords || [])].join(', ');

const analyticsId = import.meta.env.VERCEL_ANALYTICS_ID;
const params = Astro.params;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={metadata?.title ?? defaultTitle}
			description={metadata?.description ?? description}
			canonical={canonical}
			openGraph={{
				basic: {
					url: metadata?.openGraph?.basic?.url ?? openGraph.url,
					title: metadata?.openGraph?.basic?.title ?? openGraph.title,
					image: metadata?.openGraph?.basic?.image ?? openGraph.images[0].url,
					type: 'website',
				},
				article: {
					authors: metadata?.openGraph?.article?.authors,
					publishedTime: metadata?.openGraph?.article?.publishedTime,
					modifiedTime: metadata?.openGraph?.article?.modifiedTime,
					tags: metadata?.openGraph?.article?.tags,
					section: metadata?.openGraph?.article?.section,
				},
				image: {
					url: metadata?.openGraph?.image?.url,
					width: metadata?.openGraph?.image?.width,
					height: metadata?.openGraph?.image?.height,
					alt: metadata?.openGraph?.image?.alt,
				},
				optional: {},
			}}
			twitter={{
				creator: twitter.handle,
				site: twitter.site,
				card: twitter.cardType,
			}}
			extend={{
				meta: [
					{
						name: 'keywords',
						content: keywords,
					},
				],
			}}
		/>

		<Tooltips interactive={false} delay={[15, 10]} />

		<style lang="scss">
			@use 'src/styles/utils';
			.container {
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}

			main {
				@include utils.center-horizontally;

				flex-grow: 1;
				margin-top: var(--size-9);
			}
		</style>

		<script is:inline>
			const storageKey = 'theme-preference';

			const getColorPreference = () => {
				if (localStorage.getItem(storageKey)) {
					return localStorage.getItem(storageKey);
				} else if (window.matchMedia('prefers-color-scheme: dark').matches) {
					return 'night-owl';
				} else {
					return 'night';
				}
			};

			const setColorPreference = () => {
				localStorage.setItem(storageKey, getColorPreference());
				reflectPreference();
			};

			const reflectPreference = () => {
				document.firstElementChild.setAttribute('data-theme', getColorPreference());
			};

			reflectPreference();
			window.onload = () => {
				reflectPreference();
				setColorPreference();
			};
		</script>
		<script defer src="/_vercel/insights/script.js"></script>
		<script type="module" define:vars={{ pathname, analyticsId, params }}>
			import { webVitals } from '../../lib/vitals';

			webVitals({
				path: pathname,
				params,
				analyticsId,
			});
		</script>
	</head>

	<body>
		<div class="container">
			<Header />
			<FloatingMobileMenu client:media="(max-width: 768px)" currentPath={pathname} />
			<main>
				<!-- This slot is the entry point of the application -->
				<slot />
			</main>
			<FloatingIcons />
			<Footer />
		</div>
	</body>
</html>
