---
import BaseLayout from '~/layouts/BaseLayout.astro';
import { CloudinaryImage } from '~/shared/components/jsx';
import type { PostFrontmatter } from '~/shared/utils/blogPostsHelpers';

interface Props {
	frontmatter: PostFrontmatter;
}

const { frontmatter } = Astro.props as Props;
---

<BaseLayout>
	<div class="my-8">
		<!-- Header -->
		<article class="prose dark:prose-invert mx-auto">
			<slot />
		</article>
	</div>
</BaseLayout>
