---
import { cn } from '~/lib/utils';

import Sidebar from '~/components/sidebar.astro';

import '../globals.css';
---

<html lang="en" class="scroll-smooth bg-[#111010] text-neutral-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />

        <title>Home | Sergio Barria</title>
    </head>
    <body
        class={cn(
            'flex min-h-screen max-w-screen-md flex-col gap-6 px-5 pt-10 antialiased',
            'md:flex-row md:mx-auto md:space-y-0 md:px-0 md:pt-24'
        )}
    >
        <Sidebar />

        <main class="max-w-[600px] flex-1 pb-8">
            <slot />

            <footer class="mt-7">
                <div class="flex items-center justify-between">
                    <!-- TODO: add spotify component -->
                    <div>spotify</div>
                    <p class="text-right text-xs font-light text-neutral-400">
                        Powered by <a
                            href="https://astro.build/"
                            target="_blank"
                            rel="reloopener noonreferrer">Astro</a
                        >
                    </p>
                </div>
            </footer>
        </main>
    </body>
</html>
