---
import '@fontsource-variable/inter';
import '@fontsource-variable/montserrat';

import Head from '~/components/head.astro';
import Footer from '~/components/footer.astro';

import Header from '~/components/header.astro';
import '../globals.css';

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props as Props;
---

<html lang="en" class="scroll-smooth">
    <Head
        title={title ?? 'Home | Sergio Barria'}
        description={description ?? 'Engineer, developer, amateur writer'}
    />
    <body
        class:list={[
            'mx-auto min-h-screen max-w-screen-sm antialiased',
            'bg-neutral-50 px-6 text-black dark:bg-[#151515] dark:text-white'
        ]}
    >
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <script>
            import htmx from 'htmx.org';

            // NOTE: this is a workaround to make htmx trigger the load event
            // after navigation while using Astro's ViewsTransitions
            document.addEventListener('astro:after-swap', () => {
                htmx.process(document.body);
            });
        </script>
    </body>
</html>
