---
import clsx from 'clsx';
import type { Props as SeoProps } from 'astro-seo';
import { ArrowLeftIcon } from '@radix-ui/react-icons';

import BaseLayout from './BaseLayout.astro';

import type { SnippetFrontmatter } from '~/pages/snippets/_utils';

import site from '../../site.json';

interface Props {
	slug?: string;
	frontmatter: SnippetFrontmatter;
}

const {
	frontmatter: { title },
} = Astro.props as Props;

const metadata: SeoProps = {
	title: 'Snippets | Sergio Barria',
	canonical: 'https://sergiobarria.com/Snippets',
	openGraph: {
		basic: {
			title: 'Snippets detail page',
			url: 'https://sergiobarria.com/Snippets',
			image: site.openGraph.images[0].url,
			type: 'website',
		},
		image: {
			alt: 'Website Cover',
		},
	},
};
---

<BaseLayout metadata={metadata}>
	<h2 class="text-center">{title}</h2>
	<article id="content" class="mx-auto mb-4 custom-prose">
		<slot />
	</article>
	<hr class="border-surface-four" />
	<div class="flex items-center justify-center my-6">
		<span
			class={clsx(
				'flex items-center gap-3 bg-surface-two px-3 py-2 rounded-lg',
				'hover:text-brand-accent'
			)}
		>
			<ArrowLeftIcon width={16} height={16} />
			<a href="/snippets" class="">Return to all snippets</a>
		</span>
	</div>
</BaseLayout>
