---
import type { Props as SeoProps } from 'astro-seo';
import { ArrowLeftIcon } from '@radix-ui/react-icons';

import BaseLayout from './BaseLayout.astro';

import type { SnippetFrontmatter } from '~/pages/snippets/_utils';

import site from '../../site.json';

interface Props {
	slug?: string;
	frontmatter: SnippetFrontmatter;
}

const {
	frontmatter: { title },
} = Astro.props as Props;

const metadata: SeoProps = {
	title: 'Snippets | Sergio Barria',
	canonical: 'https://sergiobarria.com/Snippets',
	openGraph: {
		basic: {
			title: 'Snippets | Sergio Barria',
			url: 'https://sergiobarria.com/Snippets',
			image: site.openGraph.images[0].url,
			type: 'website',
		},
	},
};
---

<style lang="scss">
	.container {
		margin: var(--size-8) 0;

		h2 {
			margin-bottom: var(--size-6);
		}

		h3 {
			display: flex;
		}

		pre {
			max-inline-size: var(--size-content-3);
		}

		hr {
			margin: var(--size-8) 0;
			max-inline-size: var(--size-content-3);
		}
	}

	.return-link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: var(--size-6) 0;
		max-inline-size: var(--size-content-3);

		span {
			display: flex;
			align-items: center;
			gap: var(--size-2);
			background-color: var(--surface2);
			padding: var(--size-2) var(--size-3);
			border-radius: var(--size-1);

			&:hover,
			& a:hover {
				color: var(--brand-accent);
			}
		}
	}
</style>

<BaseLayout metadata={metadata}>
	<div class="container">
		<h2>{title}</h2>
		<article id="post-content">
			<slot />
		</article>
		<hr />
		<div class="return-link">
			<span>
				<ArrowLeftIcon width={16} height={16} />
				<a href="/snippets">Return to all snippets</a>
			</span>
		</div>
	</div>
</BaseLayout>
